Repository avitai/datarax: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ruff-docstring-whitespace, check-file-length

sort_pyproject:
  name: sort_pyproject
  entry: toml-sort
  language: python
  args:
  - -i
  - --sort-table-keys
  - --sort-inline-tables
  - pyproject.toml
  additional_dependencies:
  - toml-sort==0.23.1

ruff-docstring-whitespace:
  name: ruff-docstring-whitespace (auto-fix whitespace)
  entry: ruff check --select=W291,W292,W293,F841 --fix --unsafe-fixes
  language: system
  pass_filenames: true

check-file-length:
  name: check-file-length (warn >1500, fail >2000 lines)
  entry: bash
  args:
  - -c
  ...

fix(pipeline): refuse a resume state saved on another shard
  CHANGELOG.md
  docs/examples/comparison/grain-datarax-quickref.md
  docs/examples/comparison/resumed-training-guide.md
  docs/user_guide/checkpointing_guide.md
  examples/comparison/01_grain_datarax_quickref.ipynb
  examples/comparison/01_grain_datarax_quickref.py
  examples/comparison/04_resumed_training_guide.ipynb
  examples/comparison/04_resumed_training_guide.py
  src/datarax/core/data_source.py
  src/datarax/pipeline/host_stage.py
  src/datarax/pipeline/iteration.py
  src/datarax/pipeline/pipeline.py
  src/datarax/sources/memory_source.py
  tests/pipeline/test_host_iteration.py
  tests/pipeline/test_pipeline_iterator.py
Due: ruff-docstring-whitespace, check-file-length

fix(pipeline): refuse a resume state saved on another shard (#74)
  CHANGELOG.md
  docs/examples/comparison/grain-datarax-quickref.md
  docs/examples/comparison/resumed-training-guide.md
  docs/user_guide/checkpointing_guide.md
  examples/comparison/01_grain_datarax_quickref.ipynb
  examples/comparison/01_grain_datarax_quickref.py
  examples/comparison/04_resumed_training_guide.ipynb
  examples/comparison/04_resumed_training_guide.py
  src/datarax/core/data_source.py
  src/datarax/pipeline/host_stage.py
  src/datarax/pipeline/iteration.py
  src/datarax/pipeline/pipeline.py
  src/datarax/sources/memory_source.py
  tests/pipeline/test_host_iteration.py
  tests/pipeline/test_pipeline_iterator.py
Due: ruff-docstring-whitespace, check-file-length

build(deps): read ArrayRecord files in parallel on array-record 0.8.4 (#71)
  CHANGELOG.md
  pyproject.toml
  src/datarax/sources/array_record_source.py
  tests/sources/test_array_record_source_module.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

test: live-array checks that a garbage collection cannot break
  CHANGELOG.md
  tests/pipeline/test_host_iteration.py
  tests/pipeline/test_host_naming.py
  tests/pipeline/test_raw_batches.py
  tests/sources/test_eager_source.py
  tests/sources/test_hf_eager_on_host.py
  tests/sources/test_mixed_source_host_read.py
  tests/sources/test_streaming_disk_host_read.py
  tests/sources/test_tfds_eager_without_tensorflow.py
  tests/test_common/README.md
  tests/test_common/device_arrays.py
  tests/test_common/test_device_arrays.py
Due: ruff-docstring-whitespace

test(benchmarks): count a stream pass's per-batch work instead of timing it
  CHANGELOG.md
  pyproject.toml
  src/datarax/pipeline/host_stage.py
  tests/benchmarks/test_streaming_iteration_speed.py
  tests/pipeline/test_pipeline_streaming.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

test: live-array checks that a garbage collection cannot break (#75)
  CHANGELOG.md
  tests/pipeline/test_host_iteration.py
  tests/pipeline/test_host_naming.py
  tests/pipeline/test_raw_batches.py
  tests/sources/test_eager_source.py
  tests/sources/test_hf_eager_on_host.py
  tests/sources/test_mixed_source_host_read.py
  tests/sources/test_streaming_disk_host_read.py
  tests/sources/test_tfds_eager_without_tensorflow.py
  tests/test_common/README.md
  tests/test_common/device_arrays.py
  tests/test_common/test_device_arrays.py
Due: ruff-docstring-whitespace

ci: run each matrix leg on its matrix Python
  .github/workflows/build-verification.yml
  .github/workflows/ci.yml
  .github/workflows/macos.yml
  CHANGELOG.md
  scripts/require_python.py
  tests/scripts/test_require_python.py
  tests/test_tooling_contracts.py
Due: ruff-docstring-whitespace, check-file-length

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  ruff-docstring-whitespace: any of: \.py$, but not: ^(documents|custom_modes|notebooks|example_data)/
  check-file-length: any of: \.py$, but not: ^(documents|custom_modes|notebooks|example_data|tests/)
