Repository avitai/datarax: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ruff-docstring-whitespace, check-file-length

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  ruff-docstring-whitespace: any of: \.py$, but not: ^(documents|custom_modes|notebooks|example_data)/
  check-file-length: any of: \.py$, but not: ^(documents|custom_modes|notebooks|example_data|tests/)

Add a security policyand three issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  SECURITY.md
Due: none

docs: rewrite the README status notice and replace em dashes with hyphens
  README.md
Due: none

Ignore private working notes and assistant configuration
  .gitignore
Due: none

Add a security policy and three issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  SECURITY.md
Due: none

Isolate the automation extra so its pins stop governing every other install
  .github/workflows/benchmark-gate.yml
  pyproject.toml
  uv.lock
Due: sort_pyproject

Apply sort_pyproject to the uv conflicts block
  pyproject.toml
Due: sort_pyproject

Read the TensorFlow ceiling from the tfds extra, not the base dependencies
  tests/test_tooling_contracts.py
Due: ruff-docstring-whitespace

Raise the cryptography floor and record the two torch advisories as reviewed
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: sort_pyproject

Align the jax stack, name the CUDA extra for CUDA, and drop Python 3.11
  .github/workflows/build-verification.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  .python-version
  .readthedocs.yaml
  Dockerfile
  README.md
  benchmarks/core/config_loader.py
  benchmarks/docker/Dockerfile.gpu
  benchmarks/tests/test_automation/test_sky_templates.py
  docs/benchmarks/cloud.md
  docs/contributing/contributing_guide.md
  docs/contributing/dev_guide.md
  docs/contributing/docker.md
  docs/index.md
  pyproject.toml
  scripts/generate_docs.py
  setup.sh
  src/datarax/config/loaders.py
  src/datarax/typing.py
  tests/conftest.py
  tests/scripts/test_verify_datarax_gpu.py
  tests/test_common/utils.py
  tests/test_tooling_contracts.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

Install what the long-running job needs to execute the examples
  .github/workflows/ci.yml
Due: none

fix: declare click where it is used, and stop the nightly resolving an impossible set
  .github/workflows/benchmark-nightly.yml
  pyproject.toml
  uv.lock
Due: sort_pyproject

Stabilize the long-running job and refresh the lockfile
  .github/workflows/ci.yml
  tests/benchmarks/performance_targets.py
  tests/benchmarks/test_p5_checkpoint_speed.py
  tests/examples/test_examples.py
  uv.lock
Due: ruff-docstring-whitespace

Add community files and ignore private working notes
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .gitignore
  README.md
  SECURITY.md
Due: none

Install CI environments from the lockfile
  .github/workflows/build-verification.yml
  .github/workflows/ci.yml
Due: none

Install what the long-running and nightly jobs actually need
  .github/workflows/benchmark-nightly.yml
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: sort_pyproject

Move TensorFlow to an optional extra and add a security workflow
  .github/workflows/security.yml
  pyproject.toml
  uv.lock
Due: sort_pyproject

Isolate the automation extra and keep the dependency tables honest
  .github/workflows/benchmark-gate.yml
  .github/workflows/ci.yml
  pyproject.toml
  tests/test_tooling_contracts.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace

Release 0.1.5
  CHANGELOG.md
  pyproject.toml
  src/datarax/__init__.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

Re-sort pyproject after removing the uv sources table
  pyproject.toml
Due: sort_pyproject

build(deps): relock tornado to 6.5.8
  uv.lock
Due: none

ci: audit the locked dependency set once, blocking
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

ci: check the lock, fail coverage without data, run twine strictly
  .github/workflows/build-verification.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

ci: run the unit shards on Python 3.13
  .github/workflows/ci.yml
Due: none

build: declare every development tool once, in the extras
  pyproject.toml
  uv.lock
Due: sort_pyproject

ci: let ruff own the docstring gate; PEP 695 generics
  .pre-commit-config.yaml
  docs/contributing/dev_guide.md
  pyproject.toml
  src/datarax/control/prefetcher.py
  src/datarax/core/module.py
  src/datarax/pipeline/nodes/cache.py
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

docs: add RELEASING.md
  README.md
  RELEASING.md
Due: none

ci: type-check at pyright's standard level
  benchmarks/adapters/pytorch_dl_adapter.py
  benchmarks/adapters/tfdata_adapter.py
  benchmarks/mixed_source_scan.py
  benchmarks/scenarios/datarax_unique/xfmr1_jit_vmap.py
  benchmarks/scenarios/distributed/dist1_multi_device.py
  examples/advanced/distributed/01_sharding_quickref.ipynb
  examples/advanced/distributed/01_sharding_quickref.py
  examples/advanced/training/01_e2e_cifar10_guide.ipynb
  examples/advanced/training/01_e2e_cifar10_guide.py
  pyproject.toml
  tests/benchmarks/test_imagenet_scaling.py
  tests/distributed/test_data_parallel.py
  tests/memory/test_shared_memory_manager.py
  tests/monitoring/test_reporters.py
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

refactor(performance)!: delete the copies of what calibrax owns
  CHANGELOG.md
  README.md
  docs/benchmarking/comparative.md
  docs/benchmarking/index.md
  docs/benchmarking/monitor.md
  docs/benchmarking/profiler.md
  docs/benchmarking/regression.md
  docs/benchmarking/resource_monitor.md
  docs/benchmarking/results.md
  docs/benchmarking/statistics.md
  docs/benchmarking/timing.md
  docs/performance/goodput.md
  docs/performance/index.md
  docs/performance/roofline.md
  docs/performance/synchronization.md
  docs/performance/xla_optimization.md
  mkdocs.yml
  src/datarax/performance/__init__.py
  src/datarax/performance/roofline.py
  src/datarax/performance/xla_optimization.py
  tests/benchmarks/test_mega_profiler.py
  tests/benchmarks/test_monitor.py
  tests/benchmarks/test_profiler.py
  tests/benchmarks/test_roofline_analyzer.py
  tests/benchmarks/test_roofline_integration.py
  tests/performance/test_xla_optimization.py
Due: ruff-docstring-whitespace, check-file-length

refactor(distributed)!: depend on substrax and delete the datarax copies
  .importlinter
  CHANGELOG.md
  README.md
  docs/contributing/performance_optimization_guide.md
  docs/distributed/data_parallel.md
  docs/distributed/device_mesh.md
  docs/distributed/device_placement.md
  docs/distributed/index.md
  docs/distributed/metrics.md
  docs/distributed/sharding.md
  docs/user_guide/distributed_training.md
  mkdocs.yml
  pyproject.toml
  src/datarax/__init__.py
  src/datarax/control/prefetcher.py
  src/datarax/distributed/__init__.py
  src/datarax/distributed/data_parallel.py
  src/datarax/distributed/device_mesh.py
  src/datarax/distributed/device_placement.py
  src/datarax/distributed/metrics.py
  src/datarax/distributed/sharding.py
  tests/control/test_device_prefetcher.py
  tests/distributed/__init__.py
  tests/distributed/test_data_parallel.py
  tests/distributed/test_device_placement.py
  tests/distributed/test_mesh.py
  tests/distributed/test_metrics.py
  tests/distributed/test_nnx_state_sharding.py
  tests/distributed/test_sharding.py
  tests/sources/test_source_architecture.py
  tests/test_tooling_contracts.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

ci: run pydoclint from its own pre-commit environment
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: sort_pyproject

build: depend on substrax 0.1.2 and calibrax 0.1.3; floors match what is tested
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

fix(scripts): run jupytext through the interpreter that owns it
  scripts/jupytext_converter.py
Due: ruff-docstring-whitespace, check-file-length

refactor(checkpoint)!: IteratorCheckpoint over substrax's store; set_state restores RNG streams
  CHANGELOG.md
  docs/checkpoint/handlers.md
  docs/checkpoint/index.md
  docs/checkpoint/iterators.md
  docs/contributing/type_issues_guide.md
  docs/examples/advanced/checkpointing/checkpoint-quickref.md
  docs/root/index.md
  docs/root/typing.md
  docs/user_guide/checkpointing_guide.md
  examples/advanced/checkpointing/01_checkpoint_quickref.ipynb
  examples/advanced/checkpointing/01_checkpoint_quickref.py
  mkdocs.yml
  src/datarax/checkpoint/__init__.py
  src/datarax/checkpoint/handlers.py
  src/datarax/checkpoint/iterators.py
  src/datarax/core/module.py
  tests/benchmarks/test_p5_checkpoint_speed.py
  tests/checkpoint/test_handlers.py
  tests/checkpoint/test_iterators.py
  tests/core/test_checkpointable.py
  tests/core/test_module.py
  tests/core/test_nnx_checkpointing_integration.py
Due: ruff-docstring-whitespace, check-file-length
