Repository avitai/datarax: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ruff-docstring-whitespace, check-file-length

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  ruff-docstring-whitespace: any of: \.py$, but not: ^(documents|custom_modes|notebooks|example_data)/
  check-file-length: any of: \.py$, but not: ^(documents|custom_modes|notebooks|example_data|tests/)

chore: bump version to 0.1.1 and fix publish workflow
  .github/workflows/benchmark-nightly.yml
  .github/workflows/build-verification.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/summary.yml
  .github/workflows/test-coverage.yml
  README.md
  benchmarks/export.py
  examples/advanced/differentiable/01_dada_learned_augmentation_guide.ipynb
  examples/advanced/differentiable/01_dada_learned_augmentation_guide.py
  examples/advanced/differentiable/02_learned_isp_guide.ipynb
  examples/advanced/differentiable/02_learned_isp_guide.py
  pyproject.toml
  src/datarax/__init__.py
  src/datarax/dag/nodes/control_flow.py
  src/datarax/distributed/__init__.py
  src/datarax/distributed/data_parallel.py
  src/datarax/distributed/device_mesh.py
  src/datarax/distributed/device_placement.py
  src/datarax/distributed/metrics.py
  src/datarax/distributed/sharding.py
  src/datarax/operators/modality/image/functional.py
  tests/benchmarks/test_cli.py
  tests/benchmarks/test_export.py
  tests/distributed/test_data_parallel.py
  tests/distributed/test_device_placement.py
  tests/distributed/test_mesh.py
  tests/distributed/test_metrics.py
  tests/distributed/test_nnx_distributed.py
  tests/distributed/test_sharding.py
  tools/benchkit/src/benchkit/exporters/wandb.py
  tools/benchkit/tests/conftest.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

Bump Datarax version to 0.1.2
  docs/contributing/dev_guide.md
  src/datarax/__init__.py
Due: ruff-docstring-whitespace, check-file-length

Remove direct CalibraX dependency from package metadata
  pyproject.toml
  uv.lock
Due: sort_pyproject

Restore CalibraX dependency as PyPI requirement
  pyproject.toml
  uv.lock
Due: sort_pyproject

Restore calibrax dependency as PyPI requirement
  pyproject.toml
  src/datarax/core/data_source.py
  src/datarax/dag/nodes/rebatch.py
  src/datarax/sources/_source_base.py
  src/datarax/sources/hf_source.py
  src/datarax/sources/memory_source.py
  src/datarax/sources/tfds_source.py
  tests/core/test_module_interfaces.py
  tests/core/test_nodes.py
  tests/dag/test_dag_executor.py
  tests/monitoring/test_dag_monitor.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

Bump datarax version to 0.1.2.post1
  docs/contributing/dev_guide.md
  src/datarax/__init__.py
Due: ruff-docstring-whitespace, check-file-length

Bump datarax version to 0.1.3
  src/datarax/__init__.py
Due: ruff-docstring-whitespace, check-file-length

Fix batch-mix Pipeline path and harden example-execution tests
  src/datarax/operators/batch_mix_operator.py
  tests/examples/test_examples.py
  tests/operators/test_batch_mix_operator.py
Due: ruff-docstring-whitespace, check-file-length

Rebuild dropped DAG features and fix pipeline iteration paths
  src/datarax/core/data_source.py
  src/datarax/pipeline/nodes/__init__.py
  src/datarax/pipeline/nodes/cache.py
  src/datarax/pipeline/nodes/rebatch.py
  src/datarax/pipeline/nodes/split_field.py
  src/datarax/pipeline/pipeline.py
  src/datarax/sources/_source_base.py
  src/datarax/sources/memory_source.py
  src/datarax/sources/mixed_source.py
  tests/pipeline/test_nodes_cache.py
  tests/pipeline/test_nodes_rebatch.py
  tests/pipeline/test_nodes_split_field.py
  tests/pipeline/test_nodes_transforms.py
  tests/pipeline/test_pipeline_integration.py
  tests/sources/test_memory_source_get_batch_at.py
Due: ruff-docstring-whitespace, check-file-length

Add capability-based scenario support for full adapter coverage
  benchmarks/COVERAGE_MATRIX.md
  benchmarks/adapters/_utils.py
  benchmarks/adapters/base.py
  benchmarks/adapters/datarax_adapter.py
  benchmarks/core/baselines.py
  benchmarks/runners/benchmark_runner.py
  benchmarks/tests/test_adapters/test_dali_adapter.py
  benchmarks/tests/test_adapters/test_datarax_adapter.py
  benchmarks/tests/test_adapters/test_datarax_capabilities.py
  benchmarks/tests/test_adapters/test_transforms.py
  benchmarks/tests/test_baselines.py
Due: ruff-docstring-whitespace, check-file-length

Add a framework-neutral real-data provider and real-data variants
  benchmarks/fixtures/__init__.py
  benchmarks/fixtures/real_data.py
  benchmarks/scenarios/io/io3_mixed_source.py
  benchmarks/scenarios/io/io4_cache_node.py
  benchmarks/scenarios/multimodal/hmm1_vision_language.py
  benchmarks/scenarios/multimodal/mm1_image_text.py
  benchmarks/scenarios/nlp/hnlp1_llm_pretraining.py
  benchmarks/scenarios/nlp/nlp1_llm_pretraining.py
  benchmarks/scenarios/pipeline_complexity/pc2_branching_dag.py
  benchmarks/scenarios/pipeline_complexity/pc3_rebatching.py
  benchmarks/scenarios/pipeline_complexity/pc4_probabilistic.py
  benchmarks/scenarios/pipeline_complexity/pc5_differentiable.py
  benchmarks/scenarios/real_data_variants.py
  benchmarks/scenarios/tabular/htab1_recommendation.py
  benchmarks/scenarios/tabular/tab1_dense_features.py
  benchmarks/scenarios/vision/cv1_image_classification.py
  benchmarks/scenarios/vision/cv3_batch_mixing.py
  benchmarks/scenarios/vision/hcv1_imagenet_classification.py
  benchmarks/tests/conftest.py
  benchmarks/tests/test_real_data.py
  benchmarks/tests/test_scenarios/test_io.py
  benchmarks/tests/test_scenarios/test_multimodal.py
  benchmarks/tests/test_scenarios/test_nlp.py
  benchmarks/tests/test_scenarios/test_pipeline_complexity.py
  benchmarks/tests/test_scenarios/test_real_variants.py
  benchmarks/tests/test_scenarios/test_tabular.py
  benchmarks/tests/test_scenarios/test_vision.py
Due: ruff-docstring-whitespace, check-file-length

Harden benchmark determinism, fairness, and regression coverage
  benchmarks/tests/test_determinism.py
  benchmarks/tests/test_regression_guard.py
  examples/advanced/augmentation/01_mixup_cutmix_tutorial.ipynb
  examples/advanced/augmentation/01_mixup_cutmix_tutorial.py
  examples/advanced/checkpointing/02_resumable_training_guide.ipynb
  examples/advanced/checkpointing/02_resumable_training_guide.py
  examples/advanced/distributed/02_sharding_guide.ipynb
  examples/advanced/distributed/02_sharding_guide.py
  examples/advanced/multi_source/01_interleaved_tutorial.ipynb
  examples/advanced/multi_source/01_interleaved_tutorial.py
  examples/advanced/performance/01_optimization_guide.ipynb
  examples/advanced/performance/01_optimization_guide.py
  examples/advanced/training/01_e2e_cifar10_guide.ipynb
  examples/advanced/training/01_e2e_cifar10_guide.py
  examples/core/06_mnist_tutorial.ipynb
  examples/core/06_mnist_tutorial.py
  examples/core/07_fashion_augmentation_tutorial.ipynb
  examples/core/07_fashion_augmentation_tutorial.py
  tests/examples/test_examples.py
Due: ruff-docstring-whitespace, check-file-length

Make the cloud benchmark path production-ready and reconcile docs
  README.md
  benchmarks/automation/_cli.py
  benchmarks/automation/vast_orchestrator.py
  benchmarks/sky/gpu-benchmark.yaml
  benchmarks/tests/test_automation/test_sky_templates.py
  benchmarks/tests/test_automation/test_vast_orchestrator.py
  docs/batching/index.md
  docs/benchmarks/cloud.md
  docs/checkpoint/handlers.md
  docs/checkpoint/index.md
  docs/cli/index.md
  docs/config/index.md
  docs/control/index.md
  docs/core/config.md
  docs/core/index.md
  docs/dag/index.md
  docs/distributed/index.md
  docs/examples/advanced/differentiable/learned-isp-guide.md
  docs/examples/core/augmentation-quickref.md
  docs/memory/index.md
  docs/monitoring/index.md
  docs/operators/composite_operator.md
  docs/operators/element_operator.md
  docs/operators/index.md
  docs/performance/index.md
  docs/root/index.md
  docs/samplers/index.md
  docs/sharding/index.md
  docs/sources/hf_source.md
  docs/sources/tfds_source.md
  docs/user_guide/data_sources.md
  docs/utils/index.md
  setup.sh
Due: ruff-docstring-whitespace, check-file-length

Audit adapter fairness: fail fast, honest gap ranking, edge-case fix
  benchmarks/OPTIMIZATION_BACKLOG.md
  benchmarks/adapters/_utils.py
  benchmarks/adapters/dali_adapter.py
  benchmarks/adapters/datarax_adapter.py
  benchmarks/adapters/deep_lake_adapter.py
  benchmarks/adapters/ffcv_adapter.py
  benchmarks/adapters/grain_adapter.py
  benchmarks/adapters/hf_datasets_adapter.py
  benchmarks/adapters/jax_dl_adapter.py
  benchmarks/adapters/pytorch_dl_adapter.py
  benchmarks/adapters/spdl_adapter.py
  benchmarks/adapters/tfdata_adapter.py
  benchmarks/analysis/gap_detection.py
  benchmarks/baselines/README.md
  benchmarks/baselines/gpu_a100/CV-1_small.json
  benchmarks/baselines/gpu_a100/CV-2_default.json
  benchmarks/baselines/gpu_a100/DIST-1_1_device.json
  benchmarks/baselines/gpu_a100/HCV-1_imagenet_small.json
  benchmarks/baselines/gpu_a100/HPC-1_ssl_small.json
  benchmarks/baselines/gpu_a100/IO-1_memory_source.json
  benchmarks/baselines/gpu_a100/IO-2_10k.json
  benchmarks/baselines/gpu_a100/NLP-1_small.json
  benchmarks/baselines/gpu_a100/NLP-2_default.json
  benchmarks/baselines/gpu_a100/PC-1_depth_1.json
  benchmarks/baselines/gpu_a100/PC-2_default.json
  benchmarks/baselines/gpu_a100/PR-1_small.json
  benchmarks/baselines/gpu_a100/PR-2_small.json
  benchmarks/baselines/gpu_a100/TAB-1_small.json
  benchmarks/baselines/gpu_a100/TAB-2_default.json
  benchmarks/tests/test_adapters/test_transforms.py
  benchmarks/tests/test_analysis/test_gap_detection.py
  benchmarks/tests/test_determinism.py
  benchmarks/tests/test_scenarios/test_io.py
  benchmarks/tests/test_scenarios/test_pipeline_complexity.py
  benchmarks/tests/test_scenarios/test_vision.py
  docs/benchmarks/methodology.md
Due: ruff-docstring-whitespace, check-file-length

Release v0.1.4
  CHANGELOG.md
  src/datarax/__init__.py
Due: ruff-docstring-whitespace, check-file-length

Stabilize the long-running CI job
  .github/workflows/ci.yml
  tests/benchmarks/performance_targets.py
  tests/benchmarks/test_p5_checkpoint_speed.py
  tests/examples/test_examples.py
Due: ruff-docstring-whitespace

Refresh uv.lock to clear known vulnerabilities
  uv.lock
Due: none

Upgrade packaging and twine alongside the security bumps
  uv.lock
Due: none

Add a Security workflow
  .github/workflows/security.yml
Due: none

Install CI environments from uv.lock
  .github/workflows/build-verification.yml
  .github/workflows/ci.yml
Due: none

Slim runtime dependencies
  pyproject.toml
  uv.lock
Due: sort_pyproject

Move TensorFlow and tensorflow-datasets to an optional extra
  pyproject.toml
  uv.lock
Due: sort_pyproject

Isolate the automation extra so its pins stop governing every other install
  .github/workflows/benchmark-gate.yml
  pyproject.toml
  uv.lock
Due: sort_pyproject

docs: launch-readiness pass on the datarax README
  README.md
Due: none

Ignore private working notes and assistant configuration
  .gitignore
Due: none
