Repository avitai/datarax: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ruff-docstring-whitespace, check-file-length

sort_pyproject:
  name: sort_pyproject
  entry: toml-sort
  language: python
  args:
  - -i
  - --sort-table-keys
  - --sort-inline-tables
  - pyproject.toml
  additional_dependencies:
  - toml-sort==0.23.1

ruff-docstring-whitespace:
  name: ruff-docstring-whitespace (auto-fix whitespace)
  entry: ruff check --select=W291,W292,W293,F841 --fix --unsafe-fixes
  language: system
  pass_filenames: true

check-file-length:
  name: check-file-length (warn >1500, fail >2000 lines)
  entry: bash
  args:
  - -c
  ...

fix(tests): run the collective program by module from the repository root
  pyproject.toml
  tests/sources/test_tfds_collective.py
  tests/test_common/tfds_collective.py
Due: sort_pyproject, ruff-docstring-whitespace

fix(tests): read the collective report by its own line, not the last one
  pyproject.toml
  tests/sources/test_tfds_collective.py
  tests/test_common/tfds_collective.py
Due: sort_pyproject, ruff-docstring-whitespace

test(core): time the Batch and dict launches in turn, not one after the other
  tests/core/test_element_batch.py
Due: ruff-docstring-whitespace

test(sources): steady steps over a TFDS source upload no records
  tests/sources/test_tfds_eager_under_transforms.py
Due: ruff-docstring-whitespace

docs(examples): outputs and figures from the TFDS examples' GPU run
  docs/assets/images/examples/cv-fashion-latency.png
  docs/assets/images/examples/cv-mnist-throughput.png
  docs/assets/images/examples/dist-sharding-throughput-scaling.png
  docs/examples/core/fashion-augmentation-tutorial.md
  docs/examples/core/mnist-tutorial.md
Due: none

test(core): time the Batch and dict launches in turn, not one after the other (#60)
  tests/core/test_element_batch.py
Due: ruff-docstring-whitespace

feat(sources): StreamingDiskSource reads on the host from its memory map
  CHANGELOG.md
  docs/sources/index.md
  docs/sources/streaming_disk_source.md
  mkdocs.yml
  src/datarax/sources/__init__.py
  src/datarax/sources/eager_source.py
  src/datarax/sources/streaming_disk_source.py
  tests/sources/test_streaming_disk_host_read.py
Due: ruff-docstring-whitespace, check-file-length

ci: report the reason for every skipped test
  .github/workflows/ci.yml
  .github/workflows/macos.yml
  .github/workflows/upstream-compat.yml
  tests/test_tooling_contracts.py
Due: ruff-docstring-whitespace

feat(sources): provenance and record keys by source kind
  CHANGELOG.md
  docs/core/data_source.md
  docs/examples/integration/huggingface/imdb-quickref.md
  examples/hf_model_training_example.ipynb
  examples/hf_model_training_example.py
  examples/integration/huggingface/03_imdb_quickref.ipynb
  examples/integration/huggingface/03_imdb_quickref.py
  src/datarax/core/data_source.py
  src/datarax/sources/eager_source.py
  src/datarax/sources/mixed_source.py
  tests/sources/test_provenance_and_record_keys.py
Due: ruff-docstring-whitespace, check-file-length

ci: report the reason for every skipped test (#62)
  .github/workflows/ci.yml
  .github/workflows/macos.yml
  .github/workflows/upstream-compat.yml
  tests/test_tooling_contracts.py
Due: ruff-docstring-whitespace

test(benchmarks): compare peak RSS against SPDL instead of skipping below the noise floor
  tests/benchmarks/performance_targets.py
  tests/benchmarks/test_p3_memory_efficiency.py
  tests/benchmarks/test_performance_targets.py
Due: ruff-docstring-whitespace

fix(sources): HuggingFace follow-ups
  CHANGELOG.md
  docs/user_guide/data_sources.md
  examples/integration/huggingface/01_hf_quickref.ipynb
  examples/integration/huggingface/01_hf_quickref.py
  src/datarax/sources/hf_source.py
  tests/sources/test_hf_load_arguments.py
Due: ruff-docstring-whitespace, check-file-length

test(sources): stream order mixing and a two-device all-reduce after a TFDS stream read
  pyproject.toml
  tests/sources/test_tfds_collective.py
  tests/sources/test_tfds_stream_mixing.py
  tests/test_common/stream_mixing.py
  tests/test_common/tfds_collective.py
Due: sort_pyproject, ruff-docstring-whitespace

perf(sources): TFDS stream workers order record ids and read only their own records
  CHANGELOG.md
  docs/sources/tfds_source.md
  src/datarax/sources/tfds_source.py
  tests/sources/test_tfds_stream.py
Due: ruff-docstring-whitespace, check-file-length

fix(sources): streams close a pass reader stopped midway
  CHANGELOG.md
  src/datarax/sources/_source_base.py
  src/datarax/sources/hf_source.py
  tests/sources/test_hf_stream.py
  tests/sources/test_stream_contract.py
Due: ruff-docstring-whitespace, check-file-length

fix(pipeline): a stream run starting at a pass's unseen end serves the next pass
  src/datarax/pipeline/epochs.py
  tests/pipeline/test_pipeline_streaming.py
Due: ruff-docstring-whitespace, check-file-length

fix(sources): a stream's pass reads at the pipeline's size, refuses after an error, clones apart
  pyproject.toml
  src/datarax/pipeline/pipeline.py
  src/datarax/sources/_source_base.py
  src/datarax/sources/array_record_source.py
  src/datarax/sources/hf_source.py
  src/datarax/sources/tfds_source.py
  tests/pipeline/test_pipeline_streaming.py
  tests/sources/test_hf_stream.py
  tests/sources/test_source_access_contract.py
  tests/sources/test_stream_contract.py
  tests/sources/test_tfds_stream.py
  tests/test_common/streams.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

docs(sources): describe the TFDS stream's id-order read, and drop a removed field from a notice
  CHANGELOG.md
  docs/sources/tfds_source.md
  docs/user_guide/data_sources.md
  src/datarax/sources/tfds_source.py
  src/datarax/workers/__init__.py
  tests/sources/test_tfds_stream.py
Due: ruff-docstring-whitespace, check-file-length

test(sources): no literal seed in a source, and T15 compares buffers smaller than the pass
  tests/integration/test_hf_hub_datasets.py
  tests/sources/test_no_literal_seed.py
  tests/sources/test_tfds_stream_mixing.py
  tests/test_common/stream_mixing.py
Due: ruff-docstring-whitespace

feat(core): two-word division by a word
  CHANGELOG.md
  src/datarax/core/index_words.py
  tests/core/test_index_words.py
Due: ruff-docstring-whitespace, check-file-length

refactor(sources)!: MixDataSourcesNode mixes on Grain's mix
  CHANGELOG.md
  benchmarks/adapters/datarax_adapter.py
  benchmarks/mixed_source_scan.py
  docs/sources/mixed_source.md
  src/datarax/core/index_words.py
  src/datarax/sources/_grain_bridge.py
  src/datarax/sources/_grain_streaming.py
  src/datarax/sources/mixed_source.py
  tests/fixtures/pipeline/served_records_before_the_shuffle_moved.npz
  tests/pipeline/test_pipeline_over_a_mix.py
  tests/pipeline/test_pipeline_owns_the_shuffle.py
  tests/sources/test_derived_lengths.py
  tests/sources/test_grain_bridge.py
  tests/sources/test_mixed_source.py
  tests/sources/test_mixed_source_grain_streaming.py
  tests/sources/test_mixed_source_indexed_reads.py
  tests/sources/test_provenance_and_record_keys.py
  tests/sources/test_record_indices.py
  tests/sources/test_record_words_under_transforms.py
  tests/test_common/mixing.py
  tests/test_common/streams.py
Due: ruff-docstring-whitespace, check-file-length

perf(pipeline): check a stream batch's dtypes as the device holds them without stand-ins
  src/datarax/core/spec.py
  src/datarax/pipeline/pipeline.py
  tests/core/test_spec_validation.py
Due: ruff-docstring-whitespace, check-file-length

perf(sources): name a stream's batch in one construction
  src/datarax/core/batch_ops.py
  src/datarax/sources/_source_base.py
  tests/core/test_batch_ops.py
Due: ruff-docstring-whitespace, check-file-length

test(streams): share one read-only empty provenance in RecordStream
  tests/test_common/streams.py
Due: ruff-docstring-whitespace

test(benchmarks): count module-graph traversals in a streaming pass
  tests/benchmarks/test_streaming_iteration_speed.py
Due: ruff-docstring-whitespace

feat(sources)!: MixDataSourcesNode reads on the host with the union of its children's fields
  CHANGELOG.md
  docs/performance/goodput.md
  docs/performance/index.md
  docs/sources/mixed_source.md
  src/datarax/sources/mixed_source.py
  tests/pipeline/test_mixed_batches_through_the_dag.py
  tests/sources/test_mixed_source.py
  tests/sources/test_mixed_source_host_read.py
  tests/sources/test_mixed_source_union.py
  tests/test_common/mixing.py
Due: ruff-docstring-whitespace, check-file-length

ci: run the performance tests on a manual dispatch from any branch
  .github/workflows/ci.yml
Due: none

perf(pipeline): remove per-batch host work from the stream route (#65)
  .github/workflows/ci.yml
  src/datarax/core/batch_ops.py
  src/datarax/core/spec.py
  src/datarax/pipeline/pipeline.py
  src/datarax/sources/_source_base.py
  tests/benchmarks/test_streaming_iteration_speed.py
  tests/core/test_batch_ops.py
  tests/core/test_spec_validation.py
  tests/test_common/streams.py
Due: ruff-docstring-whitespace, check-file-length

fix(sources): build the mix's presence spec when it is asked for
  src/datarax/sources/mixed_source.py
Due: ruff-docstring-whitespace, check-file-length

fix(sources): a mix's offsets count its children's index spaces; its int32 gather refuses a wider space
  CHANGELOG.md
  src/datarax/core/data_source.py
  src/datarax/sources/eager_source.py
  src/datarax/sources/mixed_source.py
  tests/sources/test_mixed_source.py
Due: ruff-docstring-whitespace, check-file-length

fix(sources): a mix's proportions come from the weights as given
  CHANGELOG.md
  src/datarax/sources/mixed_source.py
  tests/sources/test_mixed_source.py
Due: ruff-docstring-whitespace, check-file-length

fix(sources): the mix's host read joins without rebuilding its spec, and needs each child's host read
  CHANGELOG.md
  src/datarax/sources/mixed_source.py
  tests/sources/test_mixed_source.py
  tests/sources/test_mixed_source_host_read.py
  tests/test_common/mixing.py
Due: ruff-docstring-whitespace, check-file-length

test(sources): the mix's shuffled-epoch tests hold for every draw, and no test module builds a JAX key at import
  tests/pipeline/test_pipeline_over_a_mix.py
  tests/pipeline/test_pipeline_owns_the_shuffle.py
  tests/sources/test_mixed_source_indexed_reads.py
Due: ruff-docstring-whitespace

docs(examples): the quickstart says what a pipeline does with a mix of differing sources
  examples/core/00_pipeline_quickstart.ipynb
  examples/core/00_pipeline_quickstart.py
Due: ruff-docstring-whitespace, check-file-length

refactor(sources)!: _grain_bridge is _index_validation, named for what it holds
  CHANGELOG.md
  src/datarax/sources/_index_validation.py
  src/datarax/sources/array_record_source.py
  src/datarax/sources/eager_source.py
  tests/sources/test_index_validation.py
Due: ruff-docstring-whitespace, check-file-length

refactor(sources)!: mixing on Grain's mix (#64)
  CHANGELOG.md
  benchmarks/adapters/datarax_adapter.py
  benchmarks/mixed_source_scan.py
  docs/performance/goodput.md
  docs/performance/index.md
  docs/sources/mixed_source.md
  examples/core/00_pipeline_quickstart.ipynb
  examples/core/00_pipeline_quickstart.py
  src/datarax/core/data_source.py
  src/datarax/core/index_words.py
  src/datarax/sources/_grain_bridge.py
  src/datarax/sources/_grain_streaming.py
  src/datarax/sources/_index_validation.py
  src/datarax/sources/array_record_source.py
  src/datarax/sources/eager_source.py
  src/datarax/sources/mixed_source.py
  tests/core/test_index_words.py
  tests/fixtures/pipeline/served_records_before_the_shuffle_moved.npz
  tests/pipeline/test_mixed_batches_through_the_dag.py
  tests/pipeline/test_pipeline_over_a_mix.py
  tests/pipeline/test_pipeline_owns_the_shuffle.py
  tests/sources/test_derived_lengths.py
  tests/sources/test_grain_bridge.py
  tests/sources/test_index_validation.py
  tests/sources/test_mixed_source.py
  tests/sources/test_mixed_source_grain_streaming.py
  tests/sources/test_mixed_source_host_read.py
  tests/sources/test_mixed_source_indexed_reads.py
  tests/sources/test_mixed_source_union.py
  tests/sources/test_provenance_and_record_keys.py
  tests/sources/test_record_indices.py
  tests/sources/test_record_words_under_transforms.py
  tests/test_common/mixing.py
  tests/test_common/streams.py
Due: ruff-docstring-whitespace, check-file-length

fix(sources): decode TFDS records on the protobuf runtime the install selects
  CHANGELOG.md
  scripts/setup_env.py
  src/datarax/sources/tfds_source.py
  tests/conftest.py
  tests/scripts/test_setup_env.py
  tests/sources/test_tfds_protobuf_runtime.py
  tests/test_common/protobuf_runtime.py
  tests/test_tooling_contracts.py
Due: ruff-docstring-whitespace, check-file-length

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  ruff-docstring-whitespace: any of: \.py$, but not: ^(documents|custom_modes|notebooks|example_data)/
  check-file-length: any of: \.py$, but not: ^(documents|custom_modes|notebooks|example_data|tests/)
