Repository avitai/datarax: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ruff-docstring-whitespace, check-file-length

sort_pyproject:
  name: sort_pyproject
  entry: toml-sort
  language: python
  args:
  - -i
  - --sort-table-keys
  - --sort-inline-tables
  - pyproject.toml
  additional_dependencies:
  - toml-sort==0.23.1

ruff-docstring-whitespace:
  name: ruff-docstring-whitespace (auto-fix whitespace)
  entry: ruff check --select=W291,W292,W293,F841 --fix --unsafe-fixes
  language: system
  pass_filenames: true

check-file-length:
  name: check-file-length (warn >1500, fail >2000 lines)
  entry: bash
  args:
  - -c
  ...

ci: benchmark coverage status check and a weekly upstream job
  .github/workflows/ci.yml
  .github/workflows/upstream-compat.yml
  CHANGELOG.md
  scripts/derive_status.py
  tests/scripts/__init__.py
  tests/scripts/test_derive_status.py
Due: ruff-docstring-whitespace, check-file-length

fix(benchmarks): a scenario that fails to import fails discovery
  benchmarks/fixtures/real_data.py
  benchmarks/scenarios/__init__.py
  tests/benchmarks/test_scenario_discovery.py
Due: ruff-docstring-whitespace, check-file-length

ci: pyright strict on the checkpoint package
  pyproject.toml
  tests/core/test_nnx_checkpointing_integration.py
Due: sort_pyproject, ruff-docstring-whitespace

ci: type-check against the sibling packages
  .pre-commit-config.yaml
  benchmarks/adapters/__init__.py
  src/datarax/checkpoint/iterators.py
Due: ruff-docstring-whitespace, check-file-length

chore(release): 0.1.6
  CHANGELOG.md
  README.md
  src/datarax/__init__.py
Due: ruff-docstring-whitespace, check-file-length

refactor(sources)!: make the source-building helpers public as datarax.sources.source_ops
  CHANGELOG.md
  docs/sources/index.md
  docs/sources/source_ops.md
  mkdocs.yml
  src/datarax/sources/__init__.py
  src/datarax/sources/_source_base.py
  src/datarax/sources/hf_source.py
  src/datarax/sources/memory_source.py
  src/datarax/sources/source_ops.py
  src/datarax/sources/tfds_source.py
  tests/sources/test_eager_source_ops.py
Due: ruff-docstring-whitespace, check-file-length

chore(release): 0.1.7
  CHANGELOG.md
  src/datarax/__init__.py
Due: ruff-docstring-whitespace, check-file-length

fix(pipeline): serve one permutation per epoch, and add Pipeline.reset
  CHANGELOG.md
  src/datarax/pipeline/iteration.py
  src/datarax/pipeline/pipeline.py
  tests/pipeline/test_pipeline_epochs.py
Due: ruff-docstring-whitespace, check-file-length

chore(release): 0.1.8
  CHANGELOG.md
  src/datarax/__init__.py
Due: ruff-docstring-whitespace, check-file-length

fix(tests): declare the pytest environment in the table pytest-env reads
  pyproject.toml
Due: sort_pyproject

docs: describe the package as differentiable data pipelines, naming its sources and resume
  README.md
  pyproject.toml
Due: sort_pyproject

chore: point local paths at the current mount (/mnt/ssd2)
  tests/benchmarks/create_imagenet_arrayrecord.py
Due: ruff-docstring-whitespace

feat(pipeline): validate streaming batches against element_spec and compile the stage DAG
  CHANGELOG.md
  docs/contributing/contributing_guide.md
  docs/core/index.md
  docs/core/spec.md
  docs/user_guide/data_sources.md
  mkdocs.yml
  src/datarax/core/spec.py
  src/datarax/pipeline/dag.py
  src/datarax/pipeline/iteration.py
  src/datarax/pipeline/pipeline.py
  src/datarax/sources/_source_base.py
  src/datarax/sources/hf_source.py
  src/datarax/sources/memory_source.py
  src/datarax/sources/mixed_source.py
  src/datarax/sources/tfds_source.py
  tests/benchmarks/test_streaming_iteration_speed.py
  tests/core/test_spec_validation.py
  tests/pipeline/test_pipeline_streaming.py
  tests/sources/test_element_spec_implementations.py
  tests/sources/test_hf_local_files_only.py
  tests/sources/test_mixed_source_get_batch_at.py
Due: ruff-docstring-whitespace, check-file-length

fix(pipeline): keep every Variable a compiled iteration step writes
  CHANGELOG.md
  docs/user_guide/checkpointing_guide.md
  src/datarax/pipeline/iteration.py
  src/datarax/pipeline/pipeline.py
  tests/pipeline/test_pipeline_iterator.py
  tests/pipeline/test_pipeline_streaming.py
Due: ruff-docstring-whitespace, check-file-length

fix(sources): derive indexed access from get_batch_at and stream decoded ArrayRecord batches
  CHANGELOG.md
  docs/contributing/contributing_guide.md
  docs/examples/integration/arrayrecord/arrayrecord-quickref.md
  docs/user_guide/data_sources.md
  examples/integration/arrayrecord/01_arrayrecord_quickref.ipynb
  examples/integration/arrayrecord/01_arrayrecord_quickref.py
  src/datarax/core/data_source.py
  src/datarax/pipeline/pipeline.py
  src/datarax/sources/_source_base.py
  src/datarax/sources/array_record_source.py
  src/datarax/sources/memory_source.py
  src/datarax/sources/mixed_source.py
  src/datarax/sources/streaming_disk_source.py
  tests/sources/test_array_record_get_batch_at.py
  tests/sources/test_array_record_streaming.py
  tests/sources/test_source_access_contract.py
  tests/sources/test_streaming_disk_source.py
Due: ruff-docstring-whitespace, check-file-length

fix(dev-env): honour DATARAX_TEST_JAX_PLATFORMS and target Python 3.12 in setup docs
  CHANGELOG.md
  Dockerfile
  benchmarks/docker/Dockerfile.cpu
  benchmarks/docker/Dockerfile.gpu
  benchmarks/docker/Dockerfile.tpu
  benchmarks/sky/cpu-benchmark.yaml
  benchmarks/sky/gpu-benchmark.yaml
  benchmarks/sky/tpu-benchmark.yaml
  benchmarks/tests/test_automation/test_sky_templates.py
  docs/benchmarks/cloud.md
  docs/contributing/contributing_guide.md
  docs/contributing/dev_guide.md
  docs/contributing/docker.md
  docs/contributing/example_documentation_design.md
  docs/contributing/gpu_testing.md
  docs/contributing/test_structure.md
  docs/getting_started/installation.md
  scripts/run_gpu_tests.sh
  setup.sh
  tests/conftest.py
  tests/jax_test_environment.py
  tests/test_jax_test_environment.py
Due: ruff-docstring-whitespace, check-file-length

fix(tests): import test helpers through the tests package
  docs/contributing/testing_guide.md
  tests/conftest.py
  tests/test_jax_test_environment.py
  tests/test_repository_hygiene.py
Due: ruff-docstring-whitespace

test(tooling): pin the extras setup.sh names to the declared extras
  tests/test_tooling_contracts.py
Due: ruff-docstring-whitespace

chore(release): datarax 0.1.9
  CHANGELOG.md
  src/datarax/__init__.py
Due: ruff-docstring-whitespace, check-file-length

ci: run benchmarks/tests in CI and drop the Codecov upload
  .github/workflows/ci.yml
  README.md
  docs/index.md
  scripts/generate_docs.py
  tests/test_tooling_contracts.py
Due: ruff-docstring-whitespace, check-file-length

test(automation): drive the idle-notice schedule with an injected clock
  benchmarks/automation/_subprocess.py
  benchmarks/tests/test_automation/test_subprocess_monitor.py
  benchmarks/tests/test_automation/test_vast_orchestrator.py
Due: ruff-docstring-whitespace, check-file-length

ci: retire the per-PR performance gate, and remove unmeasured speed claims
  .github/workflows/benchmark-gate.yml
  .github/workflows/benchmark-nightly.yml
  README.md
  benchmarks/runners/__init__.py
  docs/benchmarks/dashboard.md
  docs/benchmarks/index.md
  docs/contributing/performance_optimization_guide.md
  docs/examples/advanced/differentiable/dada-learned-augmentation.md
  docs/examples/advanced/performance/optimization-guide.md
  docs/examples/overview.md
  docs/index.md
  examples/advanced/differentiable/01_dada_learned_augmentation_guide.ipynb
  examples/advanced/differentiable/01_dada_learned_augmentation_guide.py
  examples/comparison/02_stateful_transformations.ipynb
  examples/comparison/02_stateful_transformations.py
  examples/comparison/04_end_to_end_pipeline.ipynb
  examples/comparison/04_end_to_end_pipeline.py
  examples/comparison/README.md
Due: ruff-docstring-whitespace, check-file-length

test(env): resolve the test JAX environment through substrax.runtime
  pyproject.toml
  tests/conftest.py
  tests/jax_test_environment.py
  tests/test_jax_test_environment.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace

fix(platform): leave backend selection to JAX_PLATFORMS
  CHANGELOG.md
  benchmarks/core/platform.py
  benchmarks/runners/benchmark_runner.py
  benchmarks/tests/test_platform.py
  benchmarks/tests/test_runners/test_ci_runner.py
  docs/benchmarks/methodology.md
  src/datarax/cli/main.py
  tests/cli/test_main.py
Due: ruff-docstring-whitespace, check-file-length

fix(benchmarks): select the GPU backend with JAX_PLATFORMS alone
  .env.cloud.template
  CHANGELOG.md
  benchmarks/automation/_orchestrator_utils.py
  benchmarks/automation/vast_orchestrator.py
  benchmarks/sky/gpu-benchmark.yaml
  benchmarks/tests/test_automation/test_sky_templates.py
  benchmarks/tests/test_automation/test_vast_orchestrator.py
  docs/benchmarks/cloud.md
  docs/contributing/example_documentation_design.md
  scripts/submit_vertex_job.py
  tests/test_tooling_contracts.py
  tests/utils/test_prng_handling.py
Due: ruff-docstring-whitespace, check-file-length

refactor(performance): remove xla_optimization in favour of substrax.runtime and jax
  CHANGELOG.md
  README.md
  docs/api_reference/index.md
  docs/performance/index.md
  docs/performance/xla_optimization.md
  mkdocs.yml
  src/datarax/performance/__init__.py
  src/datarax/performance/xla_optimization.py
  tests/performance/test_xla_optimization.py
Due: ruff-docstring-whitespace, check-file-length

test: enable the substrax pytest plugin for every test suite
  conftest.py
  tests/test_jax_test_environment.py
Due: ruff-docstring-whitespace, check-file-length

test(examples): run each example through substrax.testing.run_example
  CHANGELOG.md
  docs/contributing/example_documentation_design.md
  docs/examples/advanced/augmentation/mixup-cutmix-tutorial.md
  docs/examples/advanced/multi_source/interleaved-tutorial.md
  docs/examples/advanced/performance/optimization-guide.md
  docs/examples/advanced/training/e2e-cifar10-guide.md
  docs/examples/core/fashion-augmentation-tutorial.md
  docs/examples/core/mnist-tutorial.md
  examples/advanced/augmentation/01_mixup_cutmix_tutorial.ipynb
  examples/advanced/augmentation/01_mixup_cutmix_tutorial.py
  examples/advanced/checkpointing/02_resumable_training_guide.ipynb
  examples/advanced/checkpointing/02_resumable_training_guide.py
  examples/advanced/differentiable/01_dada_learned_augmentation_guide.ipynb
  examples/advanced/differentiable/01_dada_learned_augmentation_guide.py
  examples/advanced/differentiable/02_learned_isp_guide.ipynb
  examples/advanced/differentiable/02_learned_isp_guide.py
  examples/advanced/differentiable/03_ddsp_audio_synthesis_guide.ipynb
  examples/advanced/differentiable/03_ddsp_audio_synthesis_guide.py
  examples/advanced/distributed/02_sharding_guide.ipynb
  examples/advanced/distributed/02_sharding_guide.py
  examples/advanced/multi_source/01_interleaved_tutorial.ipynb
  examples/advanced/multi_source/01_interleaved_tutorial.py
  examples/advanced/performance/01_optimization_guide.ipynb
  examples/advanced/performance/01_optimization_guide.py
  examples/advanced/training/01_e2e_cifar10_guide.ipynb
  examples/advanced/training/01_e2e_cifar10_guide.py
  examples/core/06_mnist_tutorial.ipynb
  examples/core/06_mnist_tutorial.py
  examples/core/07_fashion_augmentation_tutorial.ipynb
  examples/core/07_fashion_augmentation_tutorial.py
  scripts/run_all_examples_on_gpu.sh
  scripts/validate_examples.py
  tests/examples/test_examples.py
  tests/jax_test_environment.py
  tests/test_jax_test_environment.py
Due: ruff-docstring-whitespace, check-file-length

fix(scripts): run jupytext, examples and pytest with this interpreter
  CHANGELOG.md
  scripts/check_sync.py
  scripts/distributed_test_runner.py
  scripts/validate_examples.py
  tests/examples/test_examples.py
  tests/scripts/script_loader.py
  tests/scripts/test_check_sync.py
  tests/scripts/test_derive_status.py
  tests/scripts/test_distributed_test_runner.py
  tests/scripts/test_setup_env.py
  tests/scripts/test_validate_examples.py
  tests/scripts/test_verify_datarax_gpu.py
Due: ruff-docstring-whitespace, check-file-length

fix(logging): configure logging in entry points, never at import
  examples/hf_datasets_test.ipynb
  examples/hf_datasets_test.py
  scripts/generate_docs.py
  tests/scripts/skipped_tests_tracker.py
  tests/scripts/test_results_analyzer.py
  tests/test_tooling_contracts.py
Due: ruff-docstring-whitespace, check-file-length

test(core): count element batch traces with substrax.testing.TraceCounter
  tests/core/test_element_batch.py
Due: ruff-docstring-whitespace

fix(env): set XLA_CLIENT_MEM_FRACTION, the memory fraction name jaxlib reads
  CHANGELOG.md
  Dockerfile
  benchmarks/docker/Dockerfile.gpu
  benchmarks/sky/gpu-benchmark.yaml
  docs/contributing/dev_guide.md
  docs/contributing/docker.md
  docs/contributing/gpu_testing.md
  docs/contributing/testing_guide.md
  docs/getting_started/installation.md
  examples/run_all_examples_on_gpu.sh
  examples/run_gpu_examples.sh
  pyproject.toml
  scripts/run_gpu_tests.sh
  scripts/run_tests.sh
  scripts/setup_env.py
  tests/scripts/test_setup_env.py
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

fix(sharding): drop the deprecated mesh context and name Auto axes in the guide
  CHANGELOG.md
  docs/sharding/index.md
  src/datarax/core/sharder.py
  tests/core/test_sharder_module.py
  tests/test_documented_meshes.py
Due: ruff-docstring-whitespace, check-file-length

fix(sources): build HFEagerSource columns once instead of stacking rows on device
  CHANGELOG.md
  src/datarax/sources/hf_source.py
  tests/sources/test_hf_source.py
Due: ruff-docstring-whitespace, check-file-length

ci: prepare CIFAR-10 in its own job and restore it for the example tier
  .github/workflows/ci.yml
  CHANGELOG.md
  scripts/prepare_example_datasets.py
  tests/scripts/test_prepare_example_datasets.py
  tests/test_tooling_contracts.py
Due: ruff-docstring-whitespace, check-file-length

ci: fetch CIFAR-10 over ranged connections instead of through the loaders
  .github/workflows/ci.yml
  CHANGELOG.md
  scripts/prepare_example_datasets.py
  tests/scripts/test_prepare_example_datasets.py
Due: ruff-docstring-whitespace, check-file-length

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  ruff-docstring-whitespace: any of: \.py$, but not: ^(documents|custom_modes|notebooks|example_data)/
  check-file-length: any of: \.py$, but not: ^(documents|custom_modes|notebooks|example_data|tests/)
