Repository avitai/datarax: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ruff-docstring-whitespace, check-file-length

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  ruff-docstring-whitespace: any of: \.py$, but not: ^(documents|custom_modes|notebooks|example_data)/
  check-file-length: any of: \.py$, but not: ^(documents|custom_modes|notebooks|example_data|tests/)

docs(examples): the optimization guide imports no TensorFlow
  examples/advanced/performance/01_optimization_guide.ipynb
  examples/advanced/performance/01_optimization_guide.py
Due: ruff-docstring-whitespace, check-file-length

feat(pipeline): name a run's batches on the host
  CHANGELOG.md
  docs/sources/tfds_source.md
  docs/user_guide/data_sources.md
  src/datarax/core/data_source.py
  src/datarax/core/index_words.py
  src/datarax/core/prng.py
  src/datarax/pipeline/epochs.py
  src/datarax/pipeline/pipeline.py
  src/datarax/sources/_source_base.py
  src/datarax/sources/eager_source.py
  src/datarax/sources/hf_source.py
  src/datarax/sources/memory_source.py
  src/datarax/sources/mixed_source.py
  src/datarax/sources/source_ops.py
  src/datarax/sources/tfds_source.py
  tests/pipeline/test_epochs.py
  tests/pipeline/test_host_naming.py
  tests/sources/test_pass_keys.py
  tests/sources/test_record_indices.py
  tests/sources/test_stream_contract.py
  tests/sources/test_tfds_stream.py
  tests/test_common/streams.py
Due: ruff-docstring-whitespace, check-file-length

feat(pipeline): raw_batches() reads on the host stage
  .importlinter
  CHANGELOG.md
  docs/contributing/contributing_guide.md
  docs/contributing/dev_guide.md
  docs/contributing/docker.md
  docs/contributing/gpu_testing.md
  docs/contributing/test_structure.md
  docs/contributing/testing_guide.md
  scripts/run_gpu_tests.sh
  scripts/run_tests.sh
  src/datarax/core/data_source.py
  src/datarax/pipeline/epochs.py
  src/datarax/pipeline/host_stage.py
  src/datarax/pipeline/pipeline.py
  src/datarax/sources/_source_base.py
  src/datarax/sources/mixed_source.py
  src/datarax/sources/streaming_disk_source.py
  src/datarax/sources/tfds_source.py
  tests/README.md
  tests/pipeline/test_host_naming.py
  tests/pipeline/test_pipeline_streaming.py
  tests/pipeline/test_raw_batches.py
  tests/sources/test_tfds_stream.py
  tests/test_device_requirements.py
Due: ruff-docstring-whitespace, check-file-length

perf(pipeline): place each host-stage batch as the consumer takes it
  CHANGELOG.md
  src/datarax/pipeline/host_stage.py
  src/datarax/pipeline/pipeline.py
  tests/pipeline/test_raw_batches.py
Due: ruff-docstring-whitespace, check-file-length

fix(sources): decode TFDS records on the protobuf runtime the install selects (#67)
  CHANGELOG.md
  examples/advanced/performance/01_optimization_guide.ipynb
  examples/advanced/performance/01_optimization_guide.py
  scripts/setup_env.py
  src/datarax/sources/tfds_source.py
  tests/conftest.py
  tests/scripts/test_setup_env.py
  tests/sources/test_tfds_protobuf_runtime.py
  tests/test_common/protobuf_runtime.py
  tests/test_tooling_contracts.py
Due: ruff-docstring-whitespace, check-file-length

test(benchmarks): compare peak RSS against SPDL instead of skipping below the noise floor
  tests/benchmarks/performance_targets.py
  tests/benchmarks/test_p3_memory_efficiency.py
  tests/benchmarks/test_performance_targets.py
Due: ruff-docstring-whitespace

perf(pipeline): a pipeline without stages serves its placed batches with no DAG call
  CHANGELOG.md
  src/datarax/pipeline/pipeline.py
  tests/pipeline/test_host_iteration.py
Due: ruff-docstring-whitespace, check-file-length

test(benchmarks): restore the streaming guard's reference and its 0.5 limit
  tests/benchmarks/test_streaming_iteration_speed.py
Due: ruff-docstring-whitespace

test(sources): the TFDS stream's decode is watched where the host stage reads it
  tests/sources/test_tfds_stream.py
Due: ruff-docstring-whitespace

test(sources): the TFDS session compile test drives the compiled session
  tests/sources/test_tfds_eager_under_transforms.py
Due: ruff-docstring-whitespace

refactor(sources)!: ArrayRecordSourceModule is INDEXED and reads in batches
  CHANGELOG.md
  docs/contributing/example_documentation_design.md
  docs/examples/core/data-loading-quickref.md
  docs/examples/integration/arrayrecord/arrayrecord-quickref.md
  docs/examples/integration/tfds/tfds-quickref.md
  docs/sources/index.md
  docs/sources/tfds_source.md
  docs/user_guide/data_sources.md
  examples/integration/arrayrecord/01_arrayrecord_quickref.ipynb
  examples/integration/arrayrecord/01_arrayrecord_quickref.py
  src/datarax/sources/__init__.py
  src/datarax/sources/array_record_source.py
  src/datarax/sources/eager_source.py
  src/datarax/sources/tfds_source.py
  tests/benchmarks/test_imagenet_scaling.py
  tests/sources/test_array_record_local_files_only.py
  tests/sources/test_array_record_source_module.py
  tests/sources/test_array_record_streaming.py
  tests/sources/test_no_literal_seed.py
  tests/sources/test_record_identity.py
  tests/sources/test_tfds_source.py
Due: ruff-docstring-whitespace, check-file-length

build(deps): lock fsspec 2026.6.0, multidict 6.9.1 and werkzeug 3.1.9
  uv.lock
Due: none

test(benchmarks): P3 starts JAX's runtime and compiler before measuring either loader
  tests/benchmarks/test_p3_memory_efficiency.py
Due: ruff-docstring-whitespace

perf(pipeline): a TFDS stream's run is read and decoded ahead of the consumer
  CHANGELOG.md
  src/datarax/pipeline/host_stage.py
  tests/sources/test_tfds_stream.py
Due: ruff-docstring-whitespace, check-file-length

fix(pipeline): a raw_batches iterator serves only the run it was created for
  CHANGELOG.md
  src/datarax/pipeline/host_stage.py
  src/datarax/pipeline/pipeline.py
  tests/pipeline/test_raw_batches.py
Due: ruff-docstring-whitespace, check-file-length

fix(pipeline): a read error ends the run at the batches delivered
  CHANGELOG.md
  src/datarax/pipeline/host_stage.py
  src/datarax/pipeline/pipeline.py
  tests/pipeline/test_raw_batches.py
  tests/sources/test_tfds_stream.py
Due: ruff-docstring-whitespace, check-file-length

perf(sources): an ArrayRecord batch and its provenance come from one read
  CHANGELOG.md
  src/datarax/core/data_source.py
  src/datarax/pipeline/host_stage.py
  src/datarax/sources/array_record_source.py
  tests/sources/test_array_record_source_module.py
Due: ruff-docstring-whitespace, check-file-length

perf(pipeline): the host naming compiles once per source structure, and holds no source
  CHANGELOG.md
  src/datarax/pipeline/compiled.py
  src/datarax/pipeline/dag_call.py
  src/datarax/pipeline/epochs.py
  src/datarax/pipeline/host_stage.py
  src/datarax/pipeline/iteration.py
  tests/pipeline/test_host_naming.py
  tests/pipeline/test_raw_batches.py
Due: ruff-docstring-whitespace, check-file-length

refactor(pipeline)!: a stream is iterated only through StreamingSourceBase
  CHANGELOG.md
  src/datarax/pipeline/host_stage.py
  src/datarax/pipeline/pipeline.py
  tests/sources/test_source_access_contract.py
Due: ruff-docstring-whitespace, check-file-length

refactor(pipeline)!: the host stage's read options are internal
  CHANGELOG.md
  benchmarks/adapters/datarax_adapter.py
  benchmarks/tests/test_adapters/test_datarax_adapter.py
  src/datarax/pipeline/host_stage.py
  tests/pipeline/test_host_iteration.py
  tests/pipeline/test_raw_batches.py
Due: ruff-docstring-whitespace, check-file-length

test(pipeline): the host stage's required tests, and step() names the host path
  CHANGELOG.md
  src/datarax/core/data_source.py
  tests/pipeline/test_host_iteration.py
  tests/pipeline/test_raw_batches.py
  tests/sources/test_array_record_source_module.py
  tests/sources/test_hf_eager_on_host.py
  tests/sources/test_mixed_source_union.py
  tests/sources/test_tfds_stream.py
  tests/test_common/identity.py
Due: ruff-docstring-whitespace, check-file-length

feat(pipeline): a stream resumed mid-pass logs the pass it replays
  CHANGELOG.md
  src/datarax/pipeline/host_stage.py
  tests/pipeline/test_host_iteration.py
Due: ruff-docstring-whitespace, check-file-length

fix(pipeline): restore refuses a state without a fingerprint as documented
  src/datarax/pipeline/host_stage.py
  tests/pipeline/test_host_iteration.py
  tests/pipeline/test_old_pipeline_state_refused.py
Due: ruff-docstring-whitespace, check-file-length

fix(pipeline): the host naming keeps a source's description, never its host resources
  CHANGELOG.md
  src/datarax/pipeline/epochs.py
  src/datarax/sources/array_record_source.py
  tests/pipeline/test_host_naming.py
  tests/sources/test_array_record_source_module.py
  tests/sources/test_streaming_disk_host_read.py
  tests/test_common/host_resources.py
Due: ruff-docstring-whitespace, check-file-length

perf(pipeline): the host stage names a block of full batches per naming call
  CHANGELOG.md
  src/datarax/pipeline/compiled.py
  src/datarax/pipeline/epochs.py
  src/datarax/pipeline/host_stage.py
  tests/pipeline/test_host_naming.py
  tests/pipeline/test_host_naming_blocks.py
  tests/pipeline/test_raw_batches.py
  tests/sources/test_array_record_source_module.py
  tests/sources/test_streaming_disk_host_read.py
Due: ruff-docstring-whitespace, check-file-length

feat(pipeline): the host stage can stage placed batches on the device ahead
  src/datarax/pipeline/host_stage.py
  tests/pipeline/test_device_staging.py
Due: ruff-docstring-whitespace, check-file-length

test(benchmarks): P3 holds host memory to the batches in flight, not a fixed MB cap
  tests/benchmarks/performance_targets.py
  tests/benchmarks/test_p3_memory_efficiency.py
  tests/benchmarks/test_performance_targets.py
Due: ruff-docstring-whitespace

test(benchmarks): P3 holds every staging depth to one batch over its control
  tests/benchmarks/test_p3_memory_efficiency.py
Due: ruff-docstring-whitespace

feat(pipeline): place staged batches on the consumer, one ahead on a GPU
  CHANGELOG.md
  benchmarks/adapters/datarax_adapter.py
  src/datarax/core/batch_ops.py
  src/datarax/pipeline/host_stage.py
  src/datarax/pipeline/pipeline.py
  tests/benchmarks/test_p3_memory_efficiency.py
  tests/core/test_batch_ops.py
  tests/pipeline/test_device_staging.py
  tests/pipeline/test_raw_batches.py
Due: ruff-docstring-whitespace, check-file-length

refactor!: remove datarax.workers and datarax.memory
  .importlinter
  CHANGELOG.md
  README.md
  docs/api_reference/index.md
  docs/index.md
  docs/memory/index.md
  docs/memory/shared_memory_manager.md
  mkdocs.yml
  src/datarax/memory/__init__.py
  src/datarax/memory/shared_memory_manager.py
  src/datarax/workers/__init__.py
  tests/memory/test_shared_memory_manager.py
  tests/test_repository_hygiene.py
Due: ruff-docstring-whitespace, check-file-length

ci(security): drop the ignore for the withdrawn PYSEC-2026-2132
  pyproject.toml
Due: sort_pyproject

ci(security): drop the ignore for the withdrawn PYSEC-2026-2132 (#69)
  pyproject.toml
Due: sort_pyproject

fix(sources): import tensorflow_datasets at module top
  CHANGELOG.md
  docs/examples/core/data-loading-quickref.md
  docs/examples/quick-reference/error-guide.md
  docs/sources/tfds_source.md
  src/datarax/sources/__init__.py
  src/datarax/sources/tfds_source.py
  tests/sources/test_tfds_import_window.py
  tests/sources/test_tfds_source.py
Due: ruff-docstring-whitespace, check-file-length

fix(sources): import tensorflow_datasets at module top (#70)
  CHANGELOG.md
  docs/examples/core/data-loading-quickref.md
  docs/examples/quick-reference/error-guide.md
  docs/sources/tfds_source.md
  src/datarax/sources/__init__.py
  src/datarax/sources/tfds_source.py
  tests/sources/test_tfds_import_window.py
  tests/sources/test_tfds_source.py
Due: ruff-docstring-whitespace, check-file-length

fix(sources): config validation, optional imports, source protocols and dead code
  CHANGELOG.md
  docs/contributing/example_documentation_design.md
  docs/examples/core/cifar10-quickref.md
  docs/examples/integration/huggingface/hf-tutorial.md
  docs/examples/integration/tfds/tfds-quickref.md
  docs/examples/quick-reference/config-reference.md
  docs/sources/index.md
  docs/sources/source_ops.md
  docs/user_guide/data_sources.md
  examples/core/00_pipeline_quickstart.ipynb
  examples/core/00_pipeline_quickstart.py
  pyproject.toml
  src/datarax/core/data_source.py
  src/datarax/core/spec.py
  src/datarax/pipeline/pipeline.py
  src/datarax/sources/__init__.py
  src/datarax/sources/__init__.pyi
  src/datarax/sources/_config_base.py
  src/datarax/sources/_source_base.py
  src/datarax/sources/eager_source.py
  src/datarax/sources/hf_source.py
  src/datarax/sources/memory_source.py
  src/datarax/sources/mixed_source.py
  src/datarax/sources/source_ops.py
  src/datarax/sources/tfds_source.py
  tests/pipeline/test_final_batch.py
  tests/sources/test_eager_source.py
  tests/sources/test_hf_import_at_module_top.py
  tests/sources/test_local_files_only_mixin.py
  tests/sources/test_mixed_source_union.py
  tests/sources/test_named_dataset_configs.py
  tests/sources/test_record_indices.py
  tests/sources/test_source_architecture.py
  tests/sources/test_source_protocols.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

fix(sources): config validation, optional imports, source protocols and dead code (#72)
  CHANGELOG.md
  docs/contributing/example_documentation_design.md
  docs/examples/core/cifar10-quickref.md
  docs/examples/integration/huggingface/hf-tutorial.md
  docs/examples/integration/tfds/tfds-quickref.md
  docs/examples/quick-reference/config-reference.md
  docs/sources/index.md
  docs/sources/source_ops.md
  docs/user_guide/data_sources.md
  examples/core/00_pipeline_quickstart.ipynb
  examples/core/00_pipeline_quickstart.py
  pyproject.toml
  src/datarax/core/data_source.py
  src/datarax/core/spec.py
  src/datarax/pipeline/pipeline.py
  src/datarax/sources/__init__.py
  src/datarax/sources/__init__.pyi
  src/datarax/sources/_config_base.py
  src/datarax/sources/_source_base.py
  src/datarax/sources/eager_source.py
  src/datarax/sources/hf_source.py
  src/datarax/sources/memory_source.py
  src/datarax/sources/mixed_source.py
  src/datarax/sources/source_ops.py
  src/datarax/sources/tfds_source.py
  tests/pipeline/test_final_batch.py
  tests/sources/test_eager_source.py
  tests/sources/test_hf_import_at_module_top.py
  tests/sources/test_local_files_only_mixin.py
  tests/sources/test_mixed_source_union.py
  tests/sources/test_named_dataset_configs.py
  tests/sources/test_record_indices.py
  tests/sources/test_source_architecture.py
  tests/sources/test_source_protocols.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

build(deps): read ArrayRecord files in parallel on array-record 0.8.4
  CHANGELOG.md
  pyproject.toml
  src/datarax/sources/array_record_source.py
  tests/sources/test_array_record_source_module.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length
