Repository avitai/datarax: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ruff-docstring-whitespace, check-file-length

sort_pyproject:
  name: sort_pyproject
  entry: toml-sort
  language: python
  args:
  - -i
  - --sort-table-keys
  - --sort-inline-tables
  - pyproject.toml
  additional_dependencies:
  - toml-sort==0.23.1

ruff-docstring-whitespace:
  name: ruff-docstring-whitespace (auto-fix whitespace)
  entry: ruff check --select=W291,W292,W293,F841 --fix --unsafe-fixes
  language: system
  pass_filenames: true

check-file-length:
  name: check-file-length (warn >1500, fail >2000 lines)
  entry: bash
  args:
  - -c
  ...

docs(examples): add the Grain and Datarax randomness and learnable operators tutorial
  CHANGELOG.md
  docs/examples/comparison/grain-datarax-quickref.md
  docs/examples/comparison/randomness-and-learnable-operators-tutorial.md
  examples/comparison/01_grain_datarax_quickref.ipynb
  examples/comparison/01_grain_datarax_quickref.py
  examples/comparison/02_randomness_and_learnable_operators_tutorial.ipynb
  examples/comparison/02_randomness_and_learnable_operators_tutorial.py
  examples/comparison/README.md
  mkdocs.yml
Due: ruff-docstring-whitespace, check-file-length

docs(examples): add the Grain and Datarax resumed training guide
  CHANGELOG.md
  docs/examples/comparison/resumed-training-guide.md
  examples/comparison/04_resumed_training_guide.ipynb
  examples/comparison/04_resumed_training_guide.py
  examples/comparison/README.md
  mkdocs.yml
Due: ruff-docstring-whitespace, check-file-length

feat(operators)!: compute statistics once per batch at each operator
  CHANGELOG.md
  docs/operators/statistics.md
  mkdocs.yml
  src/datarax/core/cross_modal.py
  src/datarax/core/modality.py
  src/datarax/core/operator.py
  src/datarax/operators/composite_operator.py
  src/datarax/operators/probabilistic_operator.py
  src/datarax/operators/selector_operator.py
  src/datarax/operators/strategies/base.py
  src/datarax/operators/strategies/branching.py
  src/datarax/operators/strategies/parallel.py
  src/datarax/operators/strategies/sequential.py
  tests/core/test_operator_module.py
  tests/core/test_structural_module.py
  tests/operators/test_wrapper_statistics.py
Due: ruff-docstring-whitespace, check-file-length

test(operators): record the audio case where the loudness output is well conditioned
  scripts/generate_per_record_outputs.py
  tests/fixtures/operators/per_record_outputs.npz
  tests/operators/test_per_record_outputs_unchanged.py
Due: ruff-docstring-whitespace, check-file-length

chore(release): datarax 0.1.10
  CHANGELOG.md
  src/datarax/__init__.py
Due: ruff-docstring-whitespace, check-file-length

refactor(prng): derive the named streams through substrax.rng
  CHANGELOG.md
  docs/core/index.md
  docs/core/prng.md
  docs/utils/index.md
  docs/utils/multirate.md
  docs/utils/prng.md
  mkdocs.yml
  pyproject.toml
  src/datarax/config/registry.py
  src/datarax/core/prng.py
  src/datarax/utils/__init__.py
  src/datarax/utils/prng.py
  tests/config/test_enhanced_registry.py
  tests/core/test_sampler_module_enhanced.py
  tests/samplers/test_sampler_modules.py
  tests/utils/test_prng.py
  tests/utils/test_prng_handling.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

chore(release): datarax 0.1.11
  CHANGELOG.md
  src/datarax/__init__.py
Due: ruff-docstring-whitespace, check-file-length

feat(pipeline): settle the last batch: padding with a validity mask, drop_last, epochs, streams
  CHANGELOG.md
  docs/examples/comparison/grain-datarax-quickref.md
  docs/examples/comparison/process-and-device-sharding-guide.md
  docs/examples/comparison/resumed-training-guide.md
  docs/examples/core/batch-processing-quickref.md
  examples/comparison/01_grain_datarax_quickref.ipynb
  examples/comparison/01_grain_datarax_quickref.py
  examples/comparison/04_resumed_training_guide.ipynb
  examples/comparison/04_resumed_training_guide.py
  src/datarax/pipeline/iteration.py
  src/datarax/pipeline/pipeline.py
  tests/fixtures/operators/per_record_outputs.npz
  tests/pipeline/test_final_batch.py
  tests/pipeline/test_nodes_transforms.py
  tests/pipeline/test_pipeline_dag.py
  tests/pipeline/test_pipeline_integration.py
  tests/pipeline/test_pipeline_iterator.py
  tests/pipeline/test_pipeline_scan.py
Due: ruff-docstring-whitespace, check-file-length

perf(sources): one permutation per epoch, cached, instead of one per batch
  src/datarax/sources/__init__.py
  src/datarax/sources/_source_base.py
  src/datarax/sources/hf_source.py
  src/datarax/sources/memory_source.py
  src/datarax/sources/source_ops.py
  src/datarax/sources/tfds_source.py
  tests/sources/test_eager_source_get_batch_at.py
  tests/sources/test_epoch_order_cache.py
Due: ruff-docstring-whitespace, check-file-length

refactor(performance): remove the synchronization helpers onto jax
  benchmarks/adapters/datarax_adapter.py
  benchmarks/adapters/datarax_scan_adapter.py
  benchmarks/core/microbenchmark.py
  benchmarks/distributed_scaling_benchmark.py
  benchmarks/mnist_pipeline_benchmark.py
  benchmarks/performance_sweep_benchmark.py
  docs/performance/synchronization.md
  mkdocs.yml
  src/datarax/cli/benchmark.py
  src/datarax/performance/__init__.py
  src/datarax/performance/goodput.py
  src/datarax/performance/synchronization.py
  tests/cli/test_benchmark.py
  tests/performance/test_synchronization.py
Due: ruff-docstring-whitespace, check-file-length

chore(release): datarax 0.1.12
  CHANGELOG.md
  src/datarax/__init__.py
Due: ruff-docstring-whitespace, check-file-length

build: the pyright hook checks against the locked environment
  .pre-commit-config.yaml
  tests/test_tooling_contracts.py
Due: ruff-docstring-whitespace

ci: the lint job type-checks in the environment setup.sh installs
  .github/workflows/ci.yml
  pyproject.toml
  tests/test_tooling_contracts.py
Due: sort_pyproject, ruff-docstring-whitespace

ci: run the macOS matrix on pushes to main only
  .github/workflows/build-verification.yml
  .github/workflows/ci.yml
Due: none

docs(checkpoint): the two example pages match the Modal run of the rewritten examples
  docs/examples/advanced/checkpointing/checkpoint-quickref.md
  docs/examples/comparison/resumed-training-guide.md
Due: none

feat(checkpoint): iterator checkpoints use substrax 0.1.10's format-3 store
  .github/actions/format2-iterator-fixture/action.yml
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/examples/advanced/checkpointing/checkpoint-quickref.md
  docs/examples/comparison/resumed-training-guide.md
  docs/user_guide/checkpointing_guide.md
  examples/advanced/checkpointing/01_checkpoint_quickref.ipynb
  examples/advanced/checkpointing/01_checkpoint_quickref.py
  examples/comparison/04_resumed_training_guide.ipynb
  examples/comparison/04_resumed_training_guide.py
  pyproject.toml
  scripts/make_format2_iterator_fixture.py
  src/datarax/checkpoint/__init__.py
  src/datarax/checkpoint/iterators.py
  tests/checkpoint/test_iterators.py
  tests/test_tooling_contracts.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

chore(release): datarax 0.1.13
  CHANGELOG.md
  src/datarax/__init__.py
Due: ruff-docstring-whitespace, check-file-length

build(security): GitPython 3.1.62 and mkdocs-material 9.7.7 in the lock
  CHANGELOG.md
  uv.lock
Due: none

build(security): soupsieve 2.8.4, mistune 3.3.3, pymdown-extensions 11.0.1 and ray 2.56.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

ci: the fixture environment takes jax, jaxlib and flax from the lock
  .github/actions/format2-iterator-fixture/action.yml
  scripts/make_format2_iterator_fixture.py
  scripts/write_format2_fixture.py
  tests/checkpoint/test_iterators.py
  tests/test_tooling_contracts.py
Due: ruff-docstring-whitespace, check-file-length

The fixture environment is a committed lock, not a resolution
  .github/actions/format2-iterator-fixture/action.yml
  scripts/format2_fixture_requirements.in
  scripts/format2_fixture_requirements.txt
  scripts/make_format2_iterator_fixture.py
  scripts/write_format2_fixture.py
  tests/checkpoint/test_iterators.py
  tests/test_tooling_contracts.py
Due: ruff-docstring-whitespace, check-file-length

build: require substrax 0.1.11, whose jax cap a fresh install would otherwise route around
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: sort_pyproject

chore(release): datarax 0.1.14
  CHANGELOG.md
  src/datarax/__init__.py
Due: ruff-docstring-whitespace, check-file-length

build(deps): require calibrax 0.1.9 and take its timing default
  CHANGELOG.md
  docs/benchmarking/index.md
  docs/contributing/performance_optimization_guide.md
  docs/user_guide/benchmarking.md
  pyproject.toml
  src/datarax/cli/benchmark.py
  tests/benchmarks/performance_targets.py
  tests/cli/test_benchmark.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  ruff-docstring-whitespace: any of: \.py$, but not: ^(documents|custom_modes|notebooks|example_data)/
  check-file-length: any of: \.py$, but not: ^(documents|custom_modes|notebooks|example_data|tests/)
