Repository avitai/datarax: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ruff-docstring-whitespace, check-file-length

sort_pyproject:
  name: sort_pyproject
  entry: toml-sort
  language: python
  args:
  - -i
  - --sort-table-keys
  - --sort-inline-tables
  - pyproject.toml
  additional_dependencies:
  - toml-sort==0.23.1

ruff-docstring-whitespace:
  name: ruff-docstring-whitespace (auto-fix whitespace)
  entry: ruff check --select=W291,W292,W293,F841 --fix --unsafe-fixes
  language: system
  pass_filenames: true

check-file-length:
  name: check-file-length (warn >1500, fail >2000 lines)
  entry: bash
  args:
  - -c
  ...

build(deps): require calibrax 0.1.9 and take its timing default
  CHANGELOG.md
  docs/benchmarking/index.md
  docs/contributing/performance_optimization_guide.md
  docs/user_guide/benchmarking.md
  pyproject.toml
  src/datarax/cli/benchmark.py
  tests/benchmarks/performance_targets.py
  tests/cli/test_benchmark.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

build(security): anyio 4.14.2 in the lock
  CHANGELOG.md
  uv.lock
Due: none

build(deps)!: calibrax 0.1.11 and substrax 0.1.15
  .github/workflows/ci.yml
  .github/workflows/upstream-compat.yml
  benchmarks/adapters/base.py
  benchmarks/analysis/stability.py
  benchmarks/core/baselines.py
  benchmarks/export.py
  benchmarks/tests/test_adapter_abc.py
  benchmarks/tests/test_analysis/conftest.py
  benchmarks/tests/test_visualization/test_charts.py
  benchmarks/visualization/charts.py
  docs/benchmarking/index.md
  docs/benchmarks/methodology.md
  docs/user_guide/benchmarking.md
  pyproject.toml
  scripts/validate_examples.py
  tests/benchmarks/test_export.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

test(sources): keep the local_files_only tests off real datasets
  tests/sources/test_tfds_local_files_only.py
  tests/sources/test_tfds_source.py
Due: ruff-docstring-whitespace

build(lint): classify first-party imports from src, not from the repository root
  benchmarks/export.py
  pyproject.toml
  tests/benchmarks/test_export.py
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

docs(examples): drop an environment variable nothing reads
  docs/examples/advanced/augmentation/mixup-cutmix-tutorial.md
  docs/examples/core/cifar10-quickref.md
  docs/examples/core/fashion-augmentation-tutorial.md
  docs/examples/core/mnist-tutorial.md
  docs/examples/integration/tfds/tfds-quickref.md
  examples/advanced/augmentation/01_mixup_cutmix_tutorial.ipynb
  examples/advanced/augmentation/01_mixup_cutmix_tutorial.py
  examples/advanced/distributed/02_sharding_guide.ipynb
  examples/advanced/distributed/02_sharding_guide.py
  examples/advanced/multi_source/01_interleaved_tutorial.ipynb
  examples/advanced/multi_source/01_interleaved_tutorial.py
  examples/advanced/performance/01_optimization_guide.ipynb
  examples/advanced/performance/01_optimization_guide.py
  examples/advanced/training/01_e2e_cifar10_guide.ipynb
  examples/advanced/training/01_e2e_cifar10_guide.py
  examples/core/04_cifar10_quickref.ipynb
  examples/core/04_cifar10_quickref.py
  examples/core/06_mnist_tutorial.ipynb
  examples/core/06_mnist_tutorial.py
  examples/core/07_fashion_augmentation_tutorial.ipynb
  examples/core/07_fashion_augmentation_tutorial.py
  examples/integration/tfds/01_tfds_quickref.ipynb
  examples/integration/tfds/01_tfds_quickref.py
Due: ruff-docstring-whitespace, check-file-length

fix(benchmarks): merge the device-count XLA flag instead of appending it
  benchmarks/distributed_scaling_benchmark.py
Due: ruff-docstring-whitespace, check-file-length

build(setup): install the wandb extra in a development environment
  docs/contributing/dev_guide.md
  setup.sh
Due: none

docs(changelog): record this batch
  CHANGELOG.md
Due: none

test(ci): give the benchmark category the flag that drops it
  .github/workflows/ci.yml
  .github/workflows/upstream-compat.yml
  tests/conftest.py
  tests/test_selection_flags.py
Due: ruff-docstring-whitespace

docs(tests): state the flag contract without narrating an incident
  tests/test_selection_flags.py
Due: ruff-docstring-whitespace

build(deps)!: substrax 0.1.16, which reads one checkpoint format
  .github/actions/format2-iterator-fixture/action.yml
  .github/workflows/ci.yml
  .gitignore
  CHANGELOG.md
  docs/user_guide/checkpointing_guide.md
  pyproject.toml
  scripts/format2_fixture_requirements.in
  scripts/format2_fixture_requirements.txt
  scripts/make_format2_iterator_fixture.py
  src/datarax/checkpoint/__init__.py
  src/datarax/checkpoint/iterators.py
  tests/checkpoint/test_iterators.py
  tests/test_tooling_contracts.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

build(deps)!: substrax 0.1.16, which reads one checkpoint format (#31)
  .github/actions/format2-iterator-fixture/action.yml
  .github/workflows/ci.yml
  .gitignore
  CHANGELOG.md
  docs/user_guide/checkpointing_guide.md
  pyproject.toml
  scripts/format2_fixture_requirements.in
  scripts/format2_fixture_requirements.txt
  scripts/make_format2_iterator_fixture.py
  src/datarax/checkpoint/__init__.py
  src/datarax/checkpoint/iterators.py
  tests/checkpoint/test_iterators.py
  tests/test_tooling_contracts.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

ci: stand down the jobs a merge would repeat over an already tested tree
  .github/workflows/ci.yml
  tests/test_tooling_contracts.py
Due: ruff-docstring-whitespace

ci: stand down the jobs a merge would repeat over an already tested tree (#32)
  .github/workflows/ci.yml
  tests/test_tooling_contracts.py
Due: ruff-docstring-whitespace

chore(release): datarax 0.1.15
  CHANGELOG.md
  src/datarax/__init__.py
Due: ruff-docstring-whitespace, check-file-length

chore(release): datarax 0.1.15 (#33)
  CHANGELOG.md
  src/datarax/__init__.py
Due: ruff-docstring-whitespace, check-file-length

fix(pipeline): sessions see written values and share compiled steps across pipelines
  src/datarax/pipeline/iteration.py
  tests/pipeline/test_pipeline_iterator.py
Due: ruff-docstring-whitespace, check-file-length

fix(sources): shuffle by a keyed Feistel bijection, O(batch) per batch
  CHANGELOG.md
  src/datarax/samplers/index_shuffle.py
  src/datarax/sources/__init__.py
  src/datarax/sources/_source_base.py
  src/datarax/sources/hf_source.py
  src/datarax/sources/memory_source.py
  src/datarax/sources/source_ops.py
  src/datarax/sources/tfds_source.py
  tests/samplers/test_index_shuffle.py
  tests/sources/test_eager_source_get_batch_at.py
  tests/sources/test_epoch_order_cache.py
Due: ruff-docstring-whitespace, check-file-length

fix(samplers): host-side shuffles run the same keyed Feistel bijection
  CHANGELOG.md
  docs/examples/integration/huggingface/hf-tutorial.md
  docs/sources/hf_source.md
  docs/user_guide/data_sources.md
  examples/core/04_cifar10_quickref.ipynb
  examples/core/04_cifar10_quickref.py
  examples/integration/huggingface/02_hf_tutorial.ipynb
  examples/integration/huggingface/02_hf_tutorial.py
  src/datarax/samplers/epoch_aware_sampler.py
  src/datarax/samplers/index_shuffle.py
  src/datarax/samplers/shuffle_sampler.py
  src/datarax/sources/__init__.py
  src/datarax/sources/_source_base.py
  src/datarax/sources/hf_source.py
  src/datarax/sources/memory_source.py
  src/datarax/sources/source_ops.py
  src/datarax/sources/tfds_source.py
  tests/samplers/test_epoch_aware_sampler.py
  tests/samplers/test_index_shuffle.py
  tests/sources/test_memory_source_module.py
  tests/sources/test_source_architecture.py
Due: ruff-docstring-whitespace, check-file-length

fix(pipeline): step() runs the shared compiled step and copies nothing
  CHANGELOG.md
  src/datarax/pipeline/iteration.py
  src/datarax/pipeline/pipeline.py
  tests/operators/test_batch_mix_operator.py
  tests/pipeline/test_final_batch.py
  tests/pipeline/test_nodes_transforms.py
  tests/pipeline/test_per_record_determinism.py
  tests/pipeline/test_pipeline_dag.py
  tests/pipeline/test_pipeline_integration.py
  tests/pipeline/test_pipeline_iterator.py
  tests/pipeline/test_pipeline_scan.py
  tests/pipeline/test_pipeline_spike.py
  tests/pipeline/test_pipeline_step.py
  tests/pipeline/test_pipeline_subclass.py
  tests/sources/test_source_access_contract.py
  tests/sources/test_streaming_disk_source.py
Due: ruff-docstring-whitespace, check-file-length

test: build only the positions a control reads; record the new shuffle order
  tests/fixtures/operators/per_record_outputs.npz
  tests/samplers/test_index_shuffle.py
Due: ruff-docstring-whitespace

fix(checkpoint): a module checkpoints its Variables and resumes its records
  CHANGELOG.md
  src/datarax/core/module.py
  src/datarax/pipeline/pipeline.py
  src/datarax/sources/memory_source.py
  tests/core/test_module_graph_mode.py
  tests/pipeline/test_pipeline_step.py
  tests/sources/test_memory_source_checkpoint.py
Due: ruff-docstring-whitespace, check-file-length

refactor(core): remove BatchView, which nothing produces
  CHANGELOG.md
  benchmarks/adapters/datarax_adapter.py
  src/datarax/core/element_batch.py
  tests/core/test_batch_view.py
Due: ruff-docstring-whitespace, check-file-length

refactor(pipeline): one epoch rule, and iteration that does not know Pipeline
  .importlinter
  CHANGELOG.md
  benchmarks/adapters/datarax_scan_adapter.py
  benchmarks/mixed_source_scan.py
  examples/advanced/differentiable/01_dada_learned_augmentation_guide.ipynb
  examples/advanced/differentiable/01_dada_learned_augmentation_guide.py
  examples/core/00_pipeline_quickstart.ipynb
  examples/core/00_pipeline_quickstart.py
  examples/integration/01_ml_classification.ipynb
  examples/integration/01_ml_classification.py
  examples/integration/02_sciml_pinn.ipynb
  examples/integration/02_sciml_pinn.py
  scripts/profile_iter_vs_scan.py
  src/datarax/core/spec.py
  src/datarax/pipeline/epochs.py
  src/datarax/pipeline/iteration.py
  src/datarax/pipeline/pipeline.py
  tests/pipeline/test_epochs.py
  tests/pipeline/test_pipeline_integration.py
  tests/pipeline/test_pipeline_iterator.py
  tests/pipeline/test_pipeline_scan.py
  tests/pipeline/test_pipeline_step.py
  tests/pipeline/test_pipeline_subclass.py
Due: ruff-docstring-whitespace, check-file-length

fix(sources): an in-memory source reads its length from its data
  CHANGELOG.md
  src/datarax/sources/_source_base.py
  src/datarax/sources/hf_source.py
  src/datarax/sources/memory_source.py
  src/datarax/sources/mixed_source.py
  src/datarax/sources/source_ops.py
  src/datarax/sources/tfds_source.py
  tests/pipeline/test_pipeline_iterator.py
  tests/sources/test_derived_lengths.py
  tests/sources/test_eager_source_get_batch_at.py
Due: ruff-docstring-whitespace, check-file-length

feat(pipeline): no padded batches; sources gather by record index
  CHANGELOG.md
  benchmarks/mixed_source_scan.py
  docs/contributing/contributing_guide.md
  docs/core/spec.md
  docs/examples/comparison/process-and-device-sharding-guide.md
  docs/examples/core/batch-processing-quickref.md
  docs/user_guide/data_sources.md
  src/datarax/core/data_source.py
  src/datarax/core/prng.py
  src/datarax/operators/batch_mix_operator.py
  src/datarax/pipeline/dag.py
  src/datarax/pipeline/epochs.py
  src/datarax/pipeline/iteration.py
  src/datarax/pipeline/pipeline.py
  src/datarax/samplers/index_shuffle.py
  src/datarax/sources/_source_base.py
  src/datarax/sources/memory_source.py
  src/datarax/sources/mixed_source.py
  src/datarax/sources/streaming_disk_source.py
  tests/operators/test_batch_mix_operator.py
  tests/pipeline/test_epochs.py
  tests/pipeline/test_final_batch.py
  tests/pipeline/test_nodes_transforms.py
  tests/pipeline/test_pipeline_dag.py
  tests/pipeline/test_pipeline_integration.py
  tests/pipeline/test_pipeline_iterator.py
  tests/pipeline/test_pipeline_step.py
  tests/pipeline/test_pipeline_subclass.py
  tests/samplers/test_index_shuffle.py
  tests/sources/test_mixed_source_get_batch_at.py
  tests/sources/test_source_access_contract.py
  tests/sources/test_streaming_disk_source.py
  tests/test_common/step_jaxpr.py
  tests/utils/test_prng.py
Due: ruff-docstring-whitespace, check-file-length

refactor(core): remove the batch validity mask, which nothing produces
  CHANGELOG.md
  src/datarax/core/batcher.py
  src/datarax/core/element_batch.py
  src/datarax/core/operator.py
  src/datarax/core/spec.py
  src/datarax/operators/batch_mix_operator.py
  tests/batching/test_batchers_do_not_pad.py
  tests/batching/test_valid_mask_through_batchers.py
  tests/core/test_batch_valid_mask.py
  tests/core/test_element_spec.py
  tests/core/test_spec_chain.py
  tests/fixtures/operators/per_record_outputs.npz
  tests/operators/test_per_record_outputs_unchanged.py
  tests/sources/test_element_spec_implementations.py
Due: ruff-docstring-whitespace, check-file-length

feat(sources): a MemorySource batches dict-of-arrays data; batches are typed
  CHANGELOG.md
  docs/getting_started/installation.md
  docs/user_guide/checkpointing_guide.md
  docs/user_guide/data_sources.md
  src/datarax/core/data_source.py
  src/datarax/pipeline/iteration.py
  src/datarax/pipeline/pipeline.py
  src/datarax/sources/_source_base.py
  src/datarax/sources/memory_source.py
  src/datarax/sources/mixed_source.py
  src/datarax/sources/streaming_disk_source.py
  src/datarax/typing.py
  tests/sources/test_memory_source_get_batch_at.py
  tests/sources/test_source_access_contract.py
Due: ruff-docstring-whitespace, check-file-length

feat(pipeline): a pipeline is checkpointable, tuned parameters included
  CHANGELOG.md
  docs/contributing/contributing_guide.md
  src/datarax/core/module.py
  src/datarax/pipeline/pipeline.py
  tests/checkpoint/test_pipeline_checkpoint.py
Due: ruff-docstring-whitespace, check-file-length

refactor(core): remove CheckpointableIteratorModule, superseded by DataSourceModule
  CHANGELOG.md
  docs/user_guide/checkpointing_guide.md
  docs/user_guide/troubleshooting_guide.md
  src/datarax/core/module.py
  tests/core/test_checkpointable.py
Due: ruff-docstring-whitespace, check-file-length

fix(pipeline): scan stages host data once; document measured tiers
  CHANGELOG.md
  docs/performance/index.md
  src/datarax/pipeline/iteration.py
  src/datarax/pipeline/pipeline.py
  src/datarax/sources/source_ops.py
  tests/pipeline/test_pipeline_scan.py
  tests/pipeline/test_pipeline_step.py
  tests/sources/test_derived_lengths.py
  tests/test_common/compiles.py
Due: ruff-docstring-whitespace, check-file-length

chore(release): datarax 0.1.16
  CHANGELOG.md
  src/datarax/__init__.py
Due: ruff-docstring-whitespace, check-file-length

chore(release): datarax 0.1.16 (#35)
  CHANGELOG.md
  src/datarax/__init__.py
Due: ruff-docstring-whitespace, check-file-length

feat(pipeline): Pipeline.from_arrays, a pipeline over in-memory arrays in one call
  CHANGELOG.md
  docs/getting_started/quick_start.md
  docs/user_guide/data_sources.md
  src/datarax/pipeline/pipeline.py
  tests/pipeline/test_pipeline_from_arrays.py
Due: ruff-docstring-whitespace, check-file-length

feat(pipeline): Pipeline.from_arrays, a pipeline over in-memory arrays in one call (#36)
  CHANGELOG.md
  docs/getting_started/quick_start.md
  docs/user_guide/data_sources.md
  src/datarax/pipeline/pipeline.py
  tests/pipeline/test_pipeline_from_arrays.py
Due: ruff-docstring-whitespace, check-file-length

chore(release): datarax 0.1.17
  CHANGELOG.md
  src/datarax/__init__.py
Due: ruff-docstring-whitespace, check-file-length

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  ruff-docstring-whitespace: any of: \.py$, but not: ^(documents|custom_modes|notebooks|example_data)/
  check-file-length: any of: \.py$, but not: ^(documents|custom_modes|notebooks|example_data|tests/)
