Repository avitai/datarax: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ruff-docstring-whitespace, check-file-length

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  ruff-docstring-whitespace: any of: \.py$, but not: ^(documents|custom_modes|notebooks|example_data)/
  check-file-length: any of: \.py$, but not: ^(documents|custom_modes|notebooks|example_data|tests/)

build(deps): require substrax 0.1.18 and calibrax 0.1.14
  CHANGELOG.md
  benchmarks/tests/test_visualization/test_charts.py
  benchmarks/visualization/charts.py
  docs/user_guide/distributed_training.md
  pyproject.toml
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

refactor(typing)!: use substrax's Checkpointable protocol
  CHANGELOG.md
  docs/root/index.md
  src/datarax/checkpoint/__init__.py
  src/datarax/checkpoint/iterators.py
  src/datarax/typing.py
  tests/checkpoint/test_pipeline_checkpoint.py
  tests/core/test_typing.py
Due: ruff-docstring-whitespace, check-file-length

chore(release): datarax 0.1.17
  CHANGELOG.md
  src/datarax/__init__.py
Due: ruff-docstring-whitespace, check-file-length

chore(release): datarax 0.1.17 (#39)
  CHANGELOG.md
  src/datarax/__init__.py
Due: ruff-docstring-whitespace, check-file-length

refactor(operator)!: an operator's randomness is its base key alone
  CHANGELOG.md
  docs/examples/comparison/grain-datarax-quickref.md
  docs/examples/comparison/resumed-training-guide.md
  docs/user_guide/checkpointing_guide.md
  examples/comparison/01_grain_datarax_quickref.ipynb
  examples/comparison/01_grain_datarax_quickref.py
  examples/comparison/04_resumed_training_guide.ipynb
  examples/comparison/04_resumed_training_guide.py
  src/datarax/core/module.py
  src/datarax/core/operator.py
  src/datarax/operators/batch_mix_operator.py
  src/datarax/pipeline/iteration.py
  tests/checkpoint/test_pipeline_checkpoint.py
  tests/core/test_checkpointable.py
  tests/core/test_operator_module.py
  tests/operators/test_batch_mix_operator.py
  tests/pipeline/test_pipeline_iterator.py
Due: ruff-docstring-whitespace, check-file-length

feat(operator)!: evaluation mode for operators; no fixed keys
  CHANGELOG.md
  examples/core/09_advanced_operators_tutorial.ipynb
  examples/core/09_advanced_operators_tutorial.py
  scripts/generate_per_record_outputs.py
  src/datarax/core/config.py
  src/datarax/core/operator.py
  src/datarax/operators/batch_mix_operator.py
  src/datarax/operators/composite_operator.py
  src/datarax/operators/element_operator.py
  src/datarax/operators/map_operator.py
  src/datarax/operators/modality/image/dropout_operator.py
  src/datarax/operators/modality/image/noise_operator.py
  src/datarax/operators/modality/image/patch_dropout_operator.py
  src/datarax/operators/probabilistic_operator.py
  src/datarax/operators/selector_operator.py
  src/datarax/operators/strategies/base.py
  src/datarax/operators/strategies/branching.py
  src/datarax/operators/strategies/sequential.py
  src/datarax/utils/external.py
  tests/fixtures/operators/per_record_outputs.npz
  tests/operators/modality/image/test_dropout_operator.py
  tests/operators/modality/image/test_noise_operator.py
  tests/operators/modality/image/test_patch_dropout_operator.py
  tests/operators/strategies/test_sequential_strategy.py
  tests/operators/test_eval_mode.py
  tests/test_common/mock_operators.py
  tests/utils/test_external.py
Due: ruff-docstring-whitespace, check-file-length

refactor(operator)!: statistics are fixed-shape state given at construction
  CHANGELOG.md
  docs/core/config.md
  docs/examples/quick-reference/error-guide.md
  docs/operators/statistics.md
  src/datarax/core/cross_modal.py
  src/datarax/core/modality.py
  src/datarax/core/operator.py
  tests/core/test_checkpointable.py
  tests/core/test_operator_module.py
Due: ruff-docstring-whitespace, check-file-length

fix(operators): gradients checked against finite differences; DDSP loudness
  CHANGELOG.md
  README.md
  src/datarax/core/cross_modal.py
  src/datarax/operators/modality/audio/loudness_operator.py
  src/datarax/operators/modality/image/noise_operator.py
  tests/fixtures/operators/per_record_outputs.npz
  tests/operators/modality/audio/test_loudness_operator.py
  tests/operators/modality/image/test_noise_operator.py
  tests/operators/test_gradients.py
Due: ruff-docstring-whitespace, check-file-length

build: substrax 0.1.20, one version source, and the gate items C4a closes
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  RELEASING.md
  pyproject.toml
  src/datarax/__init__.py
  tests/scripts/test_distributed_test_runner.py
  tests/test_tooling_contracts.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

ci: run only what a change needs; macOS nightly and before a release
  .github/workflows/build-verification.yml
  .github/workflows/ci.yml
  .github/workflows/macos.yml
  .github/workflows/upstream-compat.yml
  CHANGELOG.md
  RELEASING.md
  tests/test_tooling_contracts.py
Due: ruff-docstring-whitespace

refactor(core)!: remove batch_length; a stream's batches are checked by validate_batch
  CHANGELOG.md
  src/datarax/core/spec.py
  src/datarax/pipeline/iteration.py
  src/datarax/pipeline/pipeline.py
  tests/core/test_spec_validation.py
Due: ruff-docstring-whitespace, check-file-length

Keep operator outputs in the data's dtype under x64 and bfloat16
  CHANGELOG.md
  docs/core/prng.md
  scripts/generate_per_record_outputs.py
  src/datarax/operators/batch_mix_operator.py
  src/datarax/operators/composite_operator.py
  src/datarax/operators/modality/audio/crepe_model.py
  src/datarax/operators/modality/audio/loudness_operator.py
  src/datarax/operators/modality/image/dropout_operator.py
  src/datarax/operators/modality/image/functional.py
  src/datarax/operators/modality/image/noise_operator.py
  src/datarax/operators/modality/image/patch_dropout_operator.py
  src/datarax/operators/strategies/__init__.py
  src/datarax/operators/strategies/parallel.py
  src/datarax/sources/memory_source.py
  tests/core/test_operator_module.py
  tests/operators/modality/audio/test_crepe_model.py
  tests/operators/modality/image/test_contrast_operator.py
  tests/operators/test_batch_mix_operator.py
  tests/operators/test_dtype_contract.py
  tests/operators/test_gradients.py
Due: ruff-docstring-whitespace, check-file-length

Compare markdown cells in check_sync
  CHANGELOG.md
  scripts/check_sync.py
  tests/scripts/test_check_sync.py
Due: ruff-docstring-whitespace, check-file-length

Add random-crop and flip image operators with torchvision's semantics
  CHANGELOG.md
  README.md
  benchmarks/adapters/datarax_adapter.py
  benchmarks/tests/test_adapters/test_datarax_stochastic.py
  docs/contributing/example_documentation_design.md
  docs/examples/quick-reference/operator-cheatsheet.md
  docs/getting_started/quick_start.md
  docs/operators/element_operator.md
  docs/operators/flip_operator.md
  docs/operators/index.md
  docs/operators/random_crop_operator.md
  mkdocs.yml
  scripts/generate_per_record_outputs.py
  src/datarax/operators/element_operator.py
  src/datarax/operators/modality/image/__init__.py
  src/datarax/operators/modality/image/flip_operator.py
  src/datarax/operators/modality/image/functional.py
  src/datarax/operators/modality/image/random_crop_operator.py
  tests/fixtures/operators/per_record_outputs.npz
  tests/operators/modality/image/test_crop_flip_functional.py
  tests/operators/modality/image/test_flip_operator.py
  tests/operators/modality/image/test_functional.py
  tests/operators/modality/image/test_random_crop_operator.py
  tests/operators/test_gradients.py
Due: ruff-docstring-whitespace, check-file-length

build(deps): lock urllib3 2.8.0 for CVE-2026-97687, -97688 and -97689
  uv.lock
Due: none

Flip images in the examples with FlipOperator
  CHANGELOG.md
  docs/assets/images/examples/checkpoint-resume-validation.png
  docs/examples/advanced/checkpointing/resumable-training-guide.md
  docs/examples/advanced/dag/dag-fundamentals-guide.md
  docs/examples/advanced/sampling/sampling-tutorial.md
  docs/examples/core/advanced-operators-tutorial.md
  docs/examples/core/operators-tutorial.md
  docs/examples/core/pipeline-tutorial.md
  docs/examples/core/simple-pipeline.md
  docs/examples/integration/huggingface/hf-tutorial.md
  examples/advanced/checkpointing/02_resumable_training_guide.ipynb
  examples/advanced/checkpointing/02_resumable_training_guide.py
  examples/core/01_simple_pipeline.ipynb
  examples/core/01_simple_pipeline.py
  examples/core/02_pipeline_tutorial.ipynb
  examples/core/02_pipeline_tutorial.py
  examples/core/03_operators_tutorial.ipynb
  examples/core/03_operators_tutorial.py
  examples/custom_benchmark.ipynb
  examples/custom_benchmark.py
  examples/integration/huggingface/02_hf_tutorial.ipynb
  examples/integration/huggingface/02_hf_tutorial.py
Due: ruff-docstring-whitespace, check-file-length

Add cache_dir to the Hugging Face sources and describe data_dir correctly
  CHANGELOG.md
  docs/contributing/example_documentation_design.md
  examples/README.md
  examples/hf_datasets_test.ipynb
  examples/hf_datasets_test.py
  src/datarax/sources/__init__.py
  src/datarax/sources/hf_source.py
  tests/integration/test_hf_hub_datasets.py
  tests/sources/test_hf_load_arguments.py
Due: ruff-docstring-whitespace, check-file-length
