Repository avitai/datarax: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort_pyproject, ruff-docstring-whitespace, check-file-length

sort_pyproject:
  name: sort_pyproject
  entry: toml-sort
  language: python
  args:
  - -i
  - --sort-table-keys
  - --sort-inline-tables
  - pyproject.toml
  additional_dependencies:
  - toml-sort==0.23.1

ruff-docstring-whitespace:
  name: ruff-docstring-whitespace (auto-fix whitespace)
  entry: ruff check --select=W291,W292,W293,F841 --fix --unsafe-fixes
  language: system
  pass_filenames: true

check-file-length:
  name: check-file-length (warn >1500, fail >2000 lines)
  entry: bash
  args:
  - -c
  ...

Flip images in the examples with FlipOperator
  CHANGELOG.md
  docs/assets/images/examples/checkpoint-resume-validation.png
  docs/examples/advanced/checkpointing/resumable-training-guide.md
  docs/examples/advanced/dag/dag-fundamentals-guide.md
  docs/examples/advanced/sampling/sampling-tutorial.md
  docs/examples/core/advanced-operators-tutorial.md
  docs/examples/core/operators-tutorial.md
  docs/examples/core/pipeline-tutorial.md
  docs/examples/core/simple-pipeline.md
  docs/examples/integration/huggingface/hf-tutorial.md
  examples/advanced/checkpointing/02_resumable_training_guide.ipynb
  examples/advanced/checkpointing/02_resumable_training_guide.py
  examples/core/01_simple_pipeline.ipynb
  examples/core/01_simple_pipeline.py
  examples/core/02_pipeline_tutorial.ipynb
  examples/core/02_pipeline_tutorial.py
  examples/core/03_operators_tutorial.ipynb
  examples/core/03_operators_tutorial.py
  examples/custom_benchmark.ipynb
  examples/custom_benchmark.py
  examples/integration/huggingface/02_hf_tutorial.ipynb
  examples/integration/huggingface/02_hf_tutorial.py
Due: ruff-docstring-whitespace, check-file-length

fix(deps): lock virtualenv 21.14.1 for PYSEC-2026-4011 to -4014
  uv.lock
Due: none

Add cache_dir to the Hugging Face sources and describe data_dir correctly
  CHANGELOG.md
  docs/contributing/example_documentation_design.md
  examples/README.md
  examples/hf_datasets_test.ipynb
  examples/hf_datasets_test.py
  src/datarax/sources/__init__.py
  src/datarax/sources/hf_source.py
  tests/integration/test_hf_hub_datasets.py
  tests/sources/test_hf_load_arguments.py
Due: ruff-docstring-whitespace, check-file-length

Make the configuration toolkit work as documented; overrides get their own prefix
  CHANGELOG.md
  docs/config/index.md
  docs/contributing/example_documentation_design.md
  examples/README.md
  examples/config/config_example.ipynb
  examples/config/config_example.py
  scripts/run_all_examples_on_gpu.sh
  src/datarax/config/__init__.py
  src/datarax/config/environment.py
  src/datarax/config/loaders.py
  src/datarax/config/registry.py
  src/datarax/config/schema.py
  tests/config/test_enhanced_registry.py
  tests/config/test_environment.py
  tests/config/test_loaders.py
  tests/config/test_schema.py
Due: ruff-docstring-whitespace, check-file-length

ci: use uv 0.12.21 and setup-uv v10.2.0
  .github/workflows/benchmark-nightly.yml
  .github/workflows/build-verification.yml
  .github/workflows/ci.yml
  .github/workflows/macos.yml
  .github/workflows/security.yml
  .github/workflows/upstream-compat.yml
  deploy/modal_app.py
Due: ruff-docstring-whitespace, check-file-length

ci: prune every uv cache before it is saved
  .github/workflows/benchmark-nightly.yml
  .github/workflows/build-verification.yml
  .github/workflows/ci.yml
  .github/workflows/macos.yml
  .github/workflows/security.yml
  .github/workflows/upstream-compat.yml
  tests/test_tooling_contracts.py
Due: ruff-docstring-whitespace

ci: pin the already-tested gate to the substrax commit that handles rebase merges
  .github/workflows/ci.yml
  tests/test_tooling_contracts.py
Due: ruff-docstring-whitespace

feat(core): Maybe for missing values; MASKED and IMPUTED state keys
  CHANGELOG.md
  docs/core/element_batch.md
  docs/core/index.md
  docs/core/maybe.md
  docs/core/state_keys.md
  docs/operators/composite_operator.md
  mkdocs.yml
  src/datarax/core/__init__.py
  src/datarax/core/cross_modal.py
  src/datarax/core/element_batch.py
  src/datarax/core/maybe.py
  src/datarax/core/modality.py
  src/datarax/core/state_keys.py
  src/datarax/operators/batch_mix_operator.py
  src/datarax/operators/map_operator.py
  src/datarax/operators/modality/audio/f0_operator.py
  src/datarax/operators/modality/audio/loudness_operator.py
  src/datarax/operators/modality/image/random_crop_operator.py
  src/datarax/operators/strategies/ensemble.py
  src/datarax/operators/strategies/merging.py
  src/datarax/operators/strategies/parallel.py
  tests/core/test_batch_ops.py
  tests/core/test_maybe.py
  tests/operators/test_missing_value_consumers.py
  tests/samplers/test_buffer_sampler.py
Due: ruff-docstring-whitespace, check-file-length

test(core): compare the fill strategies to float32 rounding at the array's scale
  tests/core/test_maybe.py
Due: ruff-docstring-whitespace

ci: keep the dataset cache on main and hand a missed one to the example tier
  .github/workflows/ci.yml
  tests/test_tooling_contracts.py
Due: ruff-docstring-whitespace

ci: keep the dataset cache on main and hand a missed one to the example tier (#53)
  .github/workflows/ci.yml
  tests/test_tooling_contracts.py
Due: ruff-docstring-whitespace

fix(deps): lock tornado 6.5.10 for GHSA-chx6-46f5-w4vp, GHSA-c2m8-h5v5-343r and GHSA-3hv7-mjh2-fv65
  uv.lock
Due: none

fix(deps): lock tornado 6.5.10 for GHSA-chx6-46f5-w4vp, GHSA-c2m8-h5v5-343r and GHSA-3hv7-mjh2-fv65 (#52)
  uv.lock
Due: none

ci: audit every extra the lock resolves
  .github/workflows/security.yml
  scripts/audit_lock.py
  tests/scripts/test_audit_lock.py
  tests/test_tooling_contracts.py
  uv.lock
Due: ruff-docstring-whitespace, check-file-length

ci: audit every extra the lock resolves (#55)
  .github/workflows/security.yml
  scripts/audit_lock.py
  tests/scripts/test_audit_lock.py
  tests/test_tooling_contracts.py
  uv.lock
Due: ruff-docstring-whitespace, check-file-length

feat(samplers): 64-bit record order as two uint32 words
  CHANGELOG.md
  docs/contributing/contributing_guide.md
  docs/core/index.md
  docs/core/index_words.md
  docs/getting_started/core_concepts.md
  docs/user_guide/data_sources.md
  mkdocs.yml
  scripts/generate_per_record_outputs.py
  src/datarax/core/data_source.py
  src/datarax/core/index_words.py
  src/datarax/pipeline/dag.py
  src/datarax/pipeline/epochs.py
  src/datarax/pipeline/pipeline.py
  src/datarax/samplers/index_shuffle.py
  src/datarax/sources/_source_base.py
  src/datarax/sources/memory_source.py
  src/datarax/sources/mixed_source.py
  src/datarax/sources/source_ops.py
  src/datarax/sources/streaming_disk_source.py
  tests/core/test_index_words.py
  tests/core/test_maybe.py
  tests/core/test_operator_one_method.py
  tests/fixtures/samplers/shuffle_orders_below_2_31.npz
  tests/operators/modality/image/test_flip_operator.py
  tests/operators/modality/image/test_random_crop_operator.py
  tests/operators/test_batch_mix_operator.py
  tests/operators/test_gradients.py
  tests/operators/test_missing_value_consumers.py
  tests/operators/test_operator_graph.py
  tests/operators/test_wrapper_contract.py
  tests/pipeline/test_epochs.py
  tests/pipeline/test_final_batch.py
  tests/samplers/test_index_shuffle.py
  tests/sources/test_derived_lengths.py
  tests/sources/test_memory_source_get_batch_at.py
  tests/sources/test_mixed_source_get_batch_at.py
  tests/sources/test_record_indices.py
  tests/sources/test_source_access_contract.py
  tests/sources/test_streaming_disk_source.py
Due: ruff-docstring-whitespace, check-file-length

test: record words under jit, vmap, scan and grad, and a shuffled augmenting train step
  tests/pipeline/test_pipeline_step.py
  tests/sources/test_record_words_under_transforms.py
  tests/test_common/step_jaxpr.py
Due: ruff-docstring-whitespace

docs: name the record order as datarax's own Feistel bijection
  README.md
  tests/samplers/test_sampler_modules.py
Due: ruff-docstring-whitespace

ci: audit the lock through substrax's audit-lock action
  .github/workflows/security.yml
  CHANGELOG.md
  pyproject.toml
  scripts/audit_lock.py
  tests/scripts/test_audit_lock.py
  tests/test_tooling_contracts.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

ci: audit the lock through substrax's audit-lock action (#56)
  .github/workflows/security.yml
  CHANGELOG.md
  pyproject.toml
  scripts/audit_lock.py
  tests/scripts/test_audit_lock.py
  tests/test_tooling_contracts.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace, check-file-length

refactor(core)!: the record order lives in core
  CHANGELOG.md
  src/datarax/core/index_shuffle.py
  src/datarax/samplers/epoch_aware_sampler.py
  src/datarax/samplers/shuffle_sampler.py
  src/datarax/sources/memory_source.py
  src/datarax/sources/source_ops.py
  tests/benchmarks/test_p4_deterministic_shuffle.py
  tests/core/test_index_shuffle.py
  tests/core/test_record_order_in_core.py
  tests/fixtures/core/shuffle_orders_below_2_31.npz
  tests/pipeline/test_final_batch.py
  tests/samplers/test_epoch_aware_sampler.py
  tests/samplers/test_sampler_modules.py
  tests/sources/test_record_indices.py
Due: ruff-docstring-whitespace, check-file-length

refactor(sources)!: every source declares what its record index means
  CHANGELOG.md
  docs/contributing/contributing_guide.md
  docs/user_guide/checkpointing_guide.md
  docs/user_guide/data_sources.md
  src/datarax/config/registry.py
  src/datarax/core/__init__.py
  src/datarax/core/data_source.py
  src/datarax/pipeline/pipeline.py
  src/datarax/sources/array_record_source.py
  src/datarax/sources/eager_source.py
  src/datarax/sources/hf_source.py
  src/datarax/sources/memory_source.py
  src/datarax/sources/mixed_source.py
  src/datarax/sources/streaming_disk_source.py
  src/datarax/sources/tfds_source.py
  tests/benchmarks/test_streaming_iteration_speed.py
  tests/core/test_checkpointable.py
  tests/core/test_element_spec.py
  tests/core/test_module_interfaces.py
  tests/core/test_random_module.py
  tests/pipeline/test_epochs.py
  tests/pipeline/test_operator_dag.py
  tests/pipeline/test_pipeline_integration.py
  tests/pipeline/test_pipeline_owns_the_shuffle.py
  tests/pipeline/test_pipeline_streaming.py
  tests/sources/test_array_record_streaming.py
  tests/sources/test_record_identity.py
  tests/sources/test_record_indices.py
  tests/sources/test_source_access_contract.py
  tests/sources/test_streaming_disk_source.py
  tests/test_common/data_source_fixtures.py
Due: ruff-docstring-whitespace, check-file-length

docs(examples): publish the GPU run of the examples the source contract changed
  docs/assets/images/examples/cv-fashion-latency.png
  docs/assets/images/examples/cv-fashion-samples.png
  docs/assets/images/examples/cv-mnist-augmentation-samples.png
  docs/assets/images/examples/cv-mnist-throughput.png
  docs/assets/images/examples/cv-multisource-distribution.png
  docs/assets/images/examples/cv-multisource-samples.png
  docs/assets/images/examples/cv-multisource-throughput.png
  docs/assets/images/examples/dist-sharding-throughput-scaling.png
  docs/assets/images/examples/perf-batch-size-sweep.png
  docs/assets/images/examples/perf-latency-distribution.png
  docs/assets/images/examples/perf-memory-profile.png
  docs/assets/images/examples/perf-throughput-comparison.png
  docs/examples/advanced/performance/optimization-guide.md
  docs/examples/core/fashion-augmentation-tutorial.md
  docs/examples/core/mnist-tutorial.md
Due: none

ci: shard the unit tests across four runners with pytest-split
  .github/workflows/ci.yml
  docs/contributing/testing_guide.md
  pyproject.toml
  tests/test_tooling_contracts.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace

ci: shard the unit tests across four runners with pytest-split (#58)
  .github/workflows/ci.yml
  docs/contributing/testing_guide.md
  pyproject.toml
  tests/test_tooling_contracts.py
  uv.lock
Due: sort_pyproject, ruff-docstring-whitespace

test(sources): a two-device all-reduce after a TFDS read, with no TensorFlow in the process
  pyproject.toml
  tests/sources/test_tfds_collective.py
  tests/test_common/tfds_collective.py
Due: sort_pyproject, ruff-docstring-whitespace

Path conditions:
  sort_pyproject: any of: ^pyproject\.toml$
  ruff-docstring-whitespace: any of: \.py$, but not: ^(documents|custom_modes|notebooks|example_data)/
  check-file-length: any of: \.py$, but not: ^(documents|custom_modes|notebooks|example_data|tests/)
